[2020-05-21 20:52] moonmeister opened #1 "null issues in config"
If I don't have a debug object in my config this throws `Cannot read property 'timeBuildSteps' of undefined`. Needs some optional chaining or config validation/defaults.

https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/06441416ee7917ac239eb338c21c69606454af13/src/utils/run-steps.js#L6

[2020-05-22 16:35] TylerBarnes commented on #1
Thanks @moonmeister! I think the default plugin options probably need to be deep merged since I think I'm probably just object merging. I'll get this fixed asap, thanks for the report!

[2020-05-22 17:11] TylerBarnes commented on #1
Just opened a PR to fix this, thanks again @moonmeister !

[2020-05-22 19:08] #1 closed

[2020-05-25 18:37] ashhitch opened #5 "Non image media (PDF) throws error"
When I add a PDF to a page I get the error `Cannot read property 'replace' of null` when building.
Deleting the PDF from the media library allows the build to complete.

I'm using the version:
**"gatsby-source-wordpress-experimental": "^0.7.1",**

Full Error:

[code]

[2020-05-25 22:43] rodrigo-arias opened #6 "Build failed while fetching nodes"
Hi Tyler,

I am getting this error on build in both Gatbsy Cloud and Netlify, however local works fine.

![image](https://user-images.githubusercontent.com/11416255/82846493-73628500-9ebf-11ea-9544-fbfe23a50ecc.png)

I have noticed that this happens if I put a limit greater than 100 posts.

I am using WP Engine and I think this happened after some of the latest updates, I am using version 0.7.1

D

[2020-05-25 23:04] rodrigo-arias commented on #6
I enabled all debugging and found several more messages

![image](https://user-images.githubusercontent.com/11416255/82846996-fb498e80-9ec1-11ea-8dea-f8faff0e7b09.png)

I don't know exactly what causes it, so any suggestion will be appreciated

[2020-05-26 08:44] kosvrouvas opened #7 "Images with Greek characters in title failing on build"
Terminal says "Try lowering process.env.GATSBY_CONCURRENT_DOWNLOAD" but even lowering doesn't help. It seems it only does this if the media has a title writter in Greek.

`11:35:37 AM: success Downloading remote files - 3.577s - 62/62 17.34/s
11:36:51 AM: info pushing https://example.com/wp-content/uploads/2014/11/αρτε.jpg to the end of the request queue.
11:36:51 AM: info Previously retried 2 tim

[2020-05-26 19:08] rodrigo-arias commented on #6
Hi, you can close this ticket. I can't find the specific problem with posts, but for now removed the types introduced in WPGraphQL 0.9 (they even failed with Twenty Twenty theme) and by adding from scratch my posts is working again.
If I show not only the critical errors some of those shown in the screenshot above are still showing, but the rest works fine.

[code]

Thank you

[2020-05-26 23:11] TylerBarnes commented on #5
Fixed in `gatsby-source-wordpress-experimental@0.7.3`, thanks for the report @ashhitch !

[2020-05-26 23:11] #5 closed

[2020-05-26 23:17] TylerBarnes commented on #6
Ah, I think I actually need to exclude these by default. I have EnqueuedScript and EnqueuedStylesheet excluded by default as those types aren't yet working properly in the source plugin.

[2020-05-26 23:36] #6 closed

[2020-05-27 00:07] #7 closed

[2020-05-27 00:07] TylerBarnes commented on #7
Thanks for the report @kosvrouvas !

This is fixed in `gatsby-source-wordpress-experimental@0.7.5`

[2020-05-27 08:58] kosvrouvas commented on #7
Awesome Tyler! 🎉

[2020-05-29 20:53] comrx opened #13 "WP Menu pulls in full URL for menu items in production"
Hi! Awesome work on this plugin!

I'm running into an issue where when I try querying the allWpMenu and it returns a full absolute url (ex. `https://sitename.com/page-1`) instead of a relative one (ex. `/page-1`). I was wondering if there was any string replacement function that could run during build time, like `gatsby-source-wordpress` has:

[code]

This only seems to happen when I use WP on our

[2020-05-29 22:29] TylerBarnes commented on #13
@comrx that makes me think your staging site was deployed with some wrong links. There's a find/replace built in (if you're on the latest version) which uses the WP base url from settings to do the finding. Are you on the latest?
I've seen this happen before and it was from a migration that didn't have http vs https right in the links.

[2020-05-29 22:29] TylerBarnes commented on #13
I guess I could probably protect against that by searching for http and https 🤔

[2020-05-30 03:13] comrx commented on #13
@TylerBarnes,

That's it! My `site_url` was set to http on the WP staging site 😅 It works flawlessly now.

Thank you!

[2020-05-30 03:13] #13 closed

[2020-05-30 09:31] asader opened #14 "Can't query allWpSimpleProduct in gatsby-node"
Can't query allWpSimpleProduct in gatsby-node, but it's available in http://localhost:8000/___graphql. All what i can use is allWpProduct.

[2020-06-01 07:34] jonlow opened #15 "When inline image is disabled, check that nodeMediaItemIdReferences actually exists"
When using `useGatsbyImage: false`, `nodeMediaItemIdReferences` is undefined but is expected to be a valid array. This breaks `gatsby develop`

https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/5f63a1771a13377664c5dbacf57e97a151f27976/src/steps/source-nodes/create-nodes/process-node.js#L529

Details in the slack channel https://wp-graphql.slack.com/archives/CJUBND25R/p159099640

[2020-06-02 20:57] TylerBarnes commented on #14
Hi @asader , we currently haven't tested wp-graphql-woocommerce with this plugin. I'm working on better documentation right now which outlines which WPGraphQL extensions are currently supported to make this clearer.
In any case if you're able to provide a minimal reproduction of the problem I'll be able to take a look.

Thanks!

[2020-06-02 20:59] moonmeister opened #16 "401 on image"
When sourcing form a site with Basic credentials I'm getting 401 unauthorized on 1 image then the dev server panics out. I'm wondering if the get request isn't being passed the basic auth credentials.

[2020-06-03 02:39] jonlow commented on #15
Fixed as per https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/commit/6c6be4f271c0868d705885022b89b742d746a5a9

[2020-06-03 02:39] #15 closed

[2020-06-05 04:24] pepsighan opened #18 "Cannot add the latest package due to allocation failure"
While adding/installing the following version, yarn fails due to allocation failure.
Version: `"gatsby-source-wordpress-experimental": "^0.7.8"`.

The last version that worked was `0.6.1` and started failing with `0.7.0`.

[code]

[2020-06-09 09:25] PierreMouchan opened #19 "How can we access normalizers ?"
Hello, i would like to know if we can access normalizers somewhere ?
(like normalizers in current gatsby-source-wordpress)

![image](https://user-images.githubusercontent.com/38973205/84130717-e59ca300-aa43-11ea-9fc3-70a3a665b160.png)

[2020-06-09 18:20] TylerBarnes commented on #19
Hi @PierreMouchan ! Thanks for opening an issue.
This plugin works in a more nuanced way than the previous version of gatsby-source-wordpress, so the concept of a normalizer doesn't carry over super well. There is an internal API `beforeChangeNode` that allows you to do a similar thing, but it's not encouraged to use it currently. The reason for this other API is that we now have a few different s

[2020-06-09 18:23] TylerBarnes commented on #19
Also, something we've been thinking of adding is an actions/filters api that devs or plugin authors could hook into to filter various pieces of data as the source plugin or any child plugins run, or to execute arbitrary logic at specific points, similar to how WP works and similar to the concept of normalizers in the previous plugin.

[2020-06-09 18:30] TylerBarnes commented on #18
Interesting 🤔 thank you for the report!
A couple other people reported this as well but I wasn't able to reproduce on macOS / in my setup. Could you run `gatsby info` in the directory of your Gatsby site where you have this problem?
Thanks for trying out earlier versions to see when the problem started. I'm wondering if this is related to moving this project to it's own repo. There might have been

[2020-06-09 20:04] PierreMouchan commented on #19
The action/filters api sounds really interesting !
The use-case i'm trying to achieve is to unescape some acf string field like this one :

![image](https://user-images.githubusercontent.com/38973205/84194046-b9614080-aa9c-11ea-86dc-111367d844cd.png)

into this :

![image](https://user-images.githubusercontent.com/38973205/84194089-cb42e380-aa9c-11ea-99ba-d43f6befa339.png)

I was using the normali

[2020-06-10 01:23] pepsighan commented on #18
[code]

[2020-06-10 05:34] rburgst opened #20 "dont stop processing when image is not found"
currently if an image is not found, the processing stops. It would be nice to allow the process to carry on (maybe replace missing images with a bright red default image).

I already tried to patch `errorPanicker` but it still fails with

[code]

[2020-06-10 07:19] adriandmitroca commented on #20
Also, probably semi related - SVG files probably shouldn't raise warnings.

[2020-06-10 19:12] Kallirroi opened #21 "403 error fetching nodes"
Hi, I have been running on the same issue all day and can't seem to progress much. None of the nodes queries are working (output below only mentions the Comment type, but I get errors for Pages, Users etc).

[code]

I am using `showQueryOnError: true` to inspect the query structure, here is the relevant output which results in `ERROR`:

[code]

Some of you have mentioned that running this on a sub

[2020-06-11 03:14] TylerBarnes commented on #21
Hi @Kallirroi , thanks for opening an issue!
I'm trying to debug this but I'm having trouble narrowing down what's causing it. Do you have any server error logs from the 403 request? That might help debug. It's looking like this might be an axios bug but I'm not 100% sure yet. Still doing some digging.

[2020-06-11 03:24] TylerBarnes commented on #21
It looks related to this https://github.com/axios/axios/issues/1535

I might just rip axios out and use fetch instead 🤷
In any case I'm on it!

[2020-06-11 04:03] TylerBarnes commented on #21
Actually, looks like this is a problem with WordFence!

I switched to using fetch and was able to get more info because it's returning an HTML page with the 403 and that html includes `A potentially unsafe operation has been detected in your request to this site</h1>\n\t<p>Your access to this service has been limited. (HTTP response code 403)` and then lower down `Wordfence is a security plugin in

[2020-06-11 04:12] TylerBarnes commented on #21
I'll be adding a clearer error message to the next release:

[code]

[2020-06-11 04:12] #21 closed

[2020-06-11 15:13] Kallirroi commented on #21
Thanks so much for the help. I have played around with WordFence (found this https://github.com/gatsbyjs/gatsby/issues/6670#issuecomment-407945369 relevant comment) and ultimately disabled it, but to no success - I still get the stream of failed GraphQL queries.

Current output with disabled Wordfence:

[code]

I will keep playing with other plugins and let you know if the culprit is something els

[2020-06-12 15:56] muhzulzidan2 opened #22 "Request failed with status code 503"
does anyone experience this  ?

my graphql : https://gemaclc.com/wp-admin/

[2020-06-14 21:59] HumidBrains opened #23 "Querying url on generalSettings crashes WP multisite"
I'm working on a WP multisite and want to migrate from gatsby-source-graphql.
However, I get this error on dev build.

[code]
The core problem lies with WPGraphQL which doesn't generate any url node on generalSettings for WP multisite. See https://github.com/wp-graphql/wp-graphql/issues/1334
The build breaks since this plugin seems to query the url on generalSettings when looking for changes in di

[2020-06-18 21:34] Kallirroi opened #24 "deployment error after following the 'building a new site' guide"
I followed https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/tutorials/building-a-new-site-wordpress-and-gatsby.md resulting in a Gatsby app which runs and builds fine locally, however it fails to deploy (I tried both Vercel and Netlify) with the following error:

`An unexpected error occurred: "could not find a copy of gatsby to link in /vercel/579b6faa/node_module

[2020-06-19 18:53] tinder-kyleboss commented on #18
I am able to reproduce as well:

  System:
    OS: macOS 10.15.5
    CPU: (12) x64 Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz
    Shell: 5.7.1 - /bin/zsh
  Binaries:
    Node: 12.16.1 - ~/.nvm/versions/node/v12.16.1/bin/node
    Yarn: 1.22.4 - /usr/local/bin/yarn
    npm: 6.14.5 - ~/.nvm/versions/node/v12.16.1/bin/npm
  Languages:
    Python: 2.7.16 - /usr/bin/python
  Browsers:
    Chrome: 83.0.41

[2020-06-19 20:33] tinder-kyleboss commented on #23
Ahh I am running into this issue as well.

[2020-06-20 22:19] Kallirroi commented on #24
Closing since this is more of a Gatsby issue. There seemed to be a problem with switching between `yarn` and `npm`. Once I removed `package-lock.json` it was able to build.

[2020-06-20 22:19] #24 closed

[2020-06-22 21:42] TylerBarnes commented on #22
Hi @muhzulzidan2 , do you have WPGraphQL installed?
I don't see it at https://gemaclc.com/graphql

[2020-06-22 21:42] #22 closed

[2020-06-22 21:47] TylerBarnes commented on #20
Hi @rburgst , thanks for opening an issue!

We aren't currently planning on allowing 404'ing images to continue the build because it's actually a feature that broken sites don't get deployed.
What we can do though is provide a link from the error to which page/post has the broken image so it can be removed. We have this set up currently for 404 images in html but it looks like that same logic isn'

[2020-06-22 21:58] TylerBarnes commented on #20
Ah, it looks like I misread what you wrote. It already has an error message like what I mentioned, but you meant that you got your error message when trying to patch the source plugin.

So this is in "wont fix" territory, but what I can do that I think will be useful is to have it only throw warnings in development and errors in production.

[2020-06-22 22:08] TylerBarnes commented on #20
Hmm, I just had a look at adding this in development but it adds significant complexity to an area of code which is already fairly complex. Since builds should always fail when the WP site content breaks, I think we shouldn't add this feature.

[2020-06-22 22:08] #20 closed

[2020-06-22 23:10] iryanrachman opened #25 "upload image from gatsby to wordpress"
upload image from gatsby to wordpress  and connect it to some acf like bio

[2020-06-23 01:20] TylerBarnes commented on #18
@pepsighan @tinder-kyleboss I believe I've identified the cause of this (though I still haven't been able to reproduce. Can you try `gatsby-source-wordpress-experimental@0.7.10` and let me know if it works for you?

Thanks!

[2020-06-23 01:44] pepsighan commented on #18
Woohoo! It worked. Thanks a lot. :+1:

[2020-06-23 01:55] TylerBarnes commented on #18
Yay :D so happy to hear that! Thanks for opening this issue and for your patience @pepsighan !

[2020-06-23 01:55] #18 closed

[2020-06-23 01:58] TylerBarnes commented on #23
Heads up @HumidBrains @tinder-kyleboss Jason and I were talking about this and this will be fixed in the next release of WPGraphQL (should be this week)

[2020-06-23 16:01] tinder-kyleboss commented on #18
Thanks @TylerBarnes !! I can confirm this worked on my end as well :)

[2020-06-23 16:25] TylerBarnes commented on #18
Woo! So happy about that :D let me know if you run into any other problems. There's a fix coming soon for the other issue you were having @tinder-kyleboss !

[2020-06-23 16:29] TylerBarnes commented on #25
Hi @iryanrachman I'm not 100% sure what you're asking here :p but it sounds like you're looking for a feature where Gatsby uploads images to WPGraphQL during the build process?
That sounds like it could be useful in some cases, but doesn't need to be part of this source plugin as you should be able to write code for that in your `gatsby-node.js` file. If I'm misunderstanding, please open a new iss

[2020-06-23 16:29] #25 closed

[2020-06-23 17:51] TylerBarnes commented on #14
Hi @asader , as mentioned we haven't tested Woo with this plugin yet so it's unsupported for now. Please open a new issue or reopen this issue (if you're able to) once you can share a minimal reproduction repo.

Thanks again!

[2020-06-23 17:51] #14 closed

[2020-06-24 01:52] joperron opened #26 "fetching nodes times out on large files"
Hello @TylerBarnes! I'm trying to use this new source plugin (looks amazing!) - but it seems to hang on video media files. I'm not sure if it's my server, but is there a way I can ignore them since they won't be processed by gatsby like the images are?

[2020-06-24 14:30] TylerBarnes commented on #26
@joperron if it's trying to process them now I'll need to update the source plugin internally, nothing you can change to make that work right now. I'll try to reproduce today and fix it but if you have a reproduction /graphql API I can use that would be helpful!

[2020-06-24 14:48] joperron commented on #26
ayyy! thanks! try this: http://newtrax-wp.1024apps.com/graphql

[2020-06-24 18:32] TylerBarnes commented on #26
Ahh, it's actually because you have huge video files and it times out downloading them. I'm investigating some solutions and/or workarounds for this now

[2020-06-24 18:41] jacobarriola opened #27 "GIF's in inline html not supported"
Hey @TylerBarnes !

I'm upgrading from `0.1.8` -> `0.7.11` and am running into the following issue when running `gatsby develop`.

Other relative info:
* wp-graphql: `0.9.1`
* wp-graphql-gutenberg: `0.3.4`
* wp-gatsby: `0.4.1`
* gatsby-plugin-sharp: `2.6.9`
* gatsby: `2.22.11`

The build works as expected when I set `html: { useGatsbyImage: false }` in my `gatsby-config.js` file.

How do I trouble

[2020-06-24 18:45] joperron commented on #26
I figured that might be it - just deleted the videos to give it another run so if you see it working it's not a sudden miracle!

[2020-06-24 19:56] TylerBarnes commented on #26
@joperron I'm working on a release that adds a way to prevent fetching files by mime type.

I'm thinking of adding something like this to plugin options:

[code]

[2020-06-24 19:56] TylerBarnes commented on #26
Once we can query the file size, I'll have a default max file size that's configurable

[2020-06-24 20:25] joperron commented on #26
Looks good to me, that's what I was imagining as a stopgap, and the `fileSize` of course would be amazing!

[2020-06-24 21:04] TylerBarnes commented on #27
🤔 could you share your api that has this issue? Looks like it's improperly inferring/querying the height of an image in your html

[2020-06-24 22:39] jacobarriola commented on #27
@TylerBarnes

You mean the /graphql endpoint? It's occurring on my local install atm since I'm testing updates. The endpoint on a public server is running older versions of wp-graphql, wp-gatsby and wp-graphql-gutenberg still.

[2020-06-25 00:45] TylerBarnes commented on #26
@joperron upgrade to `gatsby-source-wordpress-experimental@0.7.12` for the `excludeByMimeTypes` option. Thanks for opening this issue! This is really good to know about 👍 I'll comment here once fileSize is added as well.

[2020-06-25 01:02] TylerBarnes commented on #27
@jacobarriola can you send me the /graphql endpoint of the live server? tyler@gatsbyjs.com
I can most likely still use that to debug this issue.

[2020-06-25 02:03] jonlow opened #29 "Feature Request: Send custom headers to the graphql endpoint"
I'd love to be able to add custom headers to the config that get passed to the graphql endpoint:

eg

[code]

[2020-06-25 03:26] TylerBarnes commented on #27
@jacobarriola it looks like I've neglected to handle GIF's in inline html! And that's causing the issue here. In addition there were a couple other small bugs that I've fixed in `gatsby-source-wordpress-experimental@0.7.13`.

I'll be out of office (moving to a new city) from tomorrow til Monday so I wont be able to add .gif support this week. What you can do in the meantime is disable automatic `g

[2020-06-26 18:15] joperron commented on #26
Thank you Tyler!

[2020-06-27 12:01] Nazeh opened #30 "Documentation: "Installation & Getting Started" doesn't mention that gatsby-node.js assume permalink format"
[code]

I created a new Wordpress site using Local from flywheel, and while everything works fine, but createPages() assume that permalinks are formatted in %year%/%month%/%day%/%post-name%/ format.

[2020-06-28 01:25] Nazeh commented on #16
Same here!
To reproduce, here is the only change on the recomended starter;

gatsby-config.js
[code]

Error while running `gatsby develop` or `gatsby build` with or without `gatsby clean` :

[code]

[2020-06-28 22:02] muhzulzidan commented on #16
I have experienced this a few times, and I solved it by talking to the hosting provider about the firewall that they may have set up, and the second one is when I use Cloudflare

[2020-06-30 14:57] rodrigo-arias commented on #16
Same error here. Image fetch fails with password protect in WP Engine

![image](https://user-images.githubusercontent.com/11416255/86141677-b6b8a080-bac8-11ea-8c1f-6180960be90c.png)

[2020-07-01 14:23] HumidBrains opened #31 "Bump supported remote plugin versions to support WPGraphQL v0.10.1"
When using WPGraphQL v0.10.1 with gatsby-source-wordpress-experimental 0.7.14 a build error gets thrown saying "our remote version of WPGraphQL is not within the accepted range".

[2020-07-01 14:36] HumidBrains opened #32 "Build error on WP Multisite"
**Using:**
WPGraphQL v0.10.1
WPGatsby 0.4.1
gatsby-source-wordpress-experimental 0.7.14
WordPress Multisite + Woo 5.4.2
PHP 7.3.18
gatsby 2.23.12

Before migrating from gatsby-source-graphql I decided to start from scratch with this guide https://bit.ly/2BTyVv1
I got to the first build when I run into this...

**ERROR**
Interface field WpHierarchicalContentNode.wpParent expected but WpMediaItem do

[2020-07-01 20:35] AdrianLuk commented on #32
I experienced this too. Because wpgraphql 0.10.1 has many breaking changes and new features compared to 0.9.1, this plugin has not been updated accordingly.
I personally downgrades wpgraphql to 0.9.1 to fix this issue until this plugin gets updated.

[2020-07-02 07:18] pehaa opened #33 "PNG with transparency don't display correctly"
Hi,
It seems that the way that gatsby images are managed does not work well with pngs with transparency.
As far as I understand how it works, the "data/image" image is displayed underneath the final image. But in the case of images with transparency the blurred parts are still visible. I attach a screenshot and a link to the [demo](https://inspiring-sammet-8d936c.netlify.app/) - (very bottom of th

[2020-07-02 08:24] pehaa opened #34 "SVG images don't display, svg extension targets png files"
On my WordPress site, I use svg images (I add support for svg with the Safe SVG WordPress plugin)
The SVGs don't display on Gatsby website.
You can see the [demo here](https://inspiring-sammet-8d936c.netlify.app/) - header part
I checked the generated svg files in the static folders and they are in fact pngs with .svg extension.
You can [see the screencast here](https://wptemplates.pehaa.com/asset

[2020-07-02 08:30] muhzulzidan commented on #34
https://inspiring-sammet-8d936c.netlify.app/static/f8559130b5924b4dcde9a020d59ba443/016df/ginger-white.svg

when I open the SVG in a new tab, it says no styles.. so it can't be opened..

[2020-07-02 08:34] pehaa commented on #34
yes exactly, you can't check it on-line, I guess. I checked it in my local build static files (have you seen the screencast?)

[2020-07-02 08:34] muhzulzidan commented on #31
try to update wpgraphql ?  and the wordpress

[2020-07-02 17:30] TylerBarnes commented on #32
Hey there! I just put out a new release with support for v0.10.0~ in `gatsby-source-wordpress-experimental@0.8.0`.

[2020-07-02 17:30] #32 closed

[2020-07-03 10:12] adel0559 commented on #31
The issue seems to be that there has been a major update to WPGraphQL and this project (along with https://github.com/gatsbyjs/wp-gatsby I guess) are not compatible with the new version. It's not entirely clear which versions are actually supposed to be compatible with each other, does anyone know?

[2020-07-03 10:29] muhzulzidan commented on #34
so, it is not tranformed to svg correctly ? can we see the comparison of svg in the real file (wp) and the one that is send to gatsby (local) ?

[2020-07-03 11:26] HumidBrains commented on #31
Not aware of how all possible versions work together, but to my knowledge and experience with WP Multisite, the working combos look like this...

**WORKING COMBINATIONS**

**Normal WordPress site:**
WPGraphQL < v0.10.0 works with gatsby-source-wordpress-experimental < v0.8.0
WPGraphQL > v0.10.0 works with gatsby-source-wordpress-experimental > v0.8.0

**WordPress Multisite:**
WPGraphQL < v0.10.0 w

[2020-07-03 18:34] TylerBarnes opened #35 "Adjust compatibility error messages to account for situations where the remote versions are higher than supported"
The messaging is a bit confusing right now as it assumes the source plugin supports a higher version than what's available on the WP instance. In reality it can work either way.

[2020-07-03 18:34] TylerBarnes commented on #31
Hey everyone! The latest release supports WPGraphQL 0.10.* `gatsby-source-wordpress-experimental@0.8.1`.

I think the error messaging is a bit confusing if the remote WP plugins are a newer version than what's supported so we'll have to look at that. Opened a new issue to track that here https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/35

[2020-07-03 18:34] #31 closed

[2020-07-03 18:37] TylerBarnes commented on #23
Hey everyone, please update to the latest version of WPGraphQL (`0.10.2`) and `gatsby-source-wordpress-experimental@0.8.1` for a fix.

[2020-07-03 18:37] #23 closed

[2020-07-03 18:40] TylerBarnes commented on #34
Yeah it looks like that svg is being run through Sharp & gatsby-image. Can you share a reproduction repo so I can use it to debug?

Thanks!

[2020-07-03 18:42] TylerBarnes commented on #33
Thanks for this bug report. Is this image in inline html or in a custom field? Can you share a reproduction repo that I can use to debug?

Thanks!

[2020-07-03 19:03] pehaa commented on #33
It's a Gutenberg image element, the wp demo url is https://wp-pehaa.xyz/ginger-kitchen/

[2020-07-03 19:03] pehaa commented on #34
It's https://wp-pehaa.xyz/ginger-kitchen/

[2020-07-03 20:29] TylerBarnes commented on #16
This is fixed in `gatsby-source-wordpress-experimental@0.8.3`! Thanks for the report

[2020-07-03 20:42] rodrigo-arias commented on #16
Tested and working now. Thanks to you!

[2020-07-03 21:07] danieelito opened #36 "Not fetching Menu and Menu Item properly"
I have the url https://api.bobbafm.me/graphql with the latest plugin versions in Wordpress and Gatsby, and it runs fine, but it doesn't pull the Menu and MenuItems.

I tried checking in my Wordpress installation with GraphiQL and it is returning the results properly. I'll attach images from both logs.

![Screen Shot 2020-07-03 at 4 03 48 PM](https://user-images.githubusercontent.com/227711/8649743

[2020-07-03 21:20] danieelito commented on #36
I solved this by adding my menu to a location within Wordpress. I'll close this issue.

[2020-07-03 21:20] #36 closed

[2020-07-04 03:06] TylerBarnes commented on #27
This should be fixed in `gatsby-source-wordpress-experimental@0.8.5`. Can you try it out and let me know?

[2020-07-04 03:07] TylerBarnes commented on #34
Can you try out `gatsby-source-wordpress-experimental@0.8.5` and let me know if it fixes the issue?

Thanks!

[2020-07-04 03:23] TylerBarnes commented on #33
I believe this is fixed in `gatsby-source-wordpress-experimental@0.8.6`. Can you try it and let me know?

Thanks!

[2020-07-06 05:24] pehaa commented on #33
It works ! checked with gatsby-source-wordpress-experimental@0.8.6 and pngs display correctly. Thank you for your great work!

[2020-07-06 05:24] #33 closed

[2020-07-06 15:01] pehaa commented on #34
Hi, checked with `gatsby-source-wordpress-experimental@0.8.5` and it works! Thanks !!!!

[2020-07-06 15:01] #34 closed

[2020-07-06 17:14] jacobarriola commented on #27
Thanks @TylerBarnes . I'll be trying this out in a bit.

[2020-07-07 01:58] etnichols opened #37 "Error "MediaItem" in inline html: Expected a value of type "Int" but received: 3.99"
Hi there,

First off thanks for your work on this awesome plugin! I got the starter site working and love to see the auto-rebuilds after WP content changes.

I'm attempting to use gatsby-source-wordpress-experimental on a site that has 300+ MediaItems of types .jpg, .png, .pdf, .docx, .wmv .pptx, .mp4, .bmp.

Details:

Using `"gatsby-source-wordpress-experimental": "^0.8.6"`

plugin entry in `gats

[2020-07-07 16:32] jacobarriola commented on #27
Looks good, @TylerBarnes. Thank you.

[2020-07-07 16:32] #27 closed

[2020-07-07 16:37] TylerBarnes commented on #27
Great to hear! Thanks @jacobarriola !

[2020-07-07 16:41] TylerBarnes commented on #37
Hi @etnichols , thanks for opening this issue. If you can send me the live api endpoint & repo that would be super helpful! My email is tyler@gatsbyjs.com

Thanks

[2020-07-07 16:43] TylerBarnes commented on #30
Ah, you mean for the starter? I believe it's using the WPGraphQL `uri` field which is taken from the WP permalinks. Or maybe am I misunderstanding?

[2020-07-07 18:05] Nazeh commented on #30
The problem is that by default WP instance on flywheel at least, uses plain permalink `/?p=id` this creates a page reachable with the path `?p=1` which doesn't work!

I will close this issue as it is not a very big deal. I am more concerned about the starter for other reasons e.g
- It doesn't use `gatsby-source-wordpress-experimental": ">=0.8.3`, which means sourcing images fail.
- The WP instance

[2020-07-07 18:40] TylerBarnes commented on #30
Thanks @Nazeh , I think you're right though that it should be mentioned in the docs. I'm going to re-open if you don't mind (just to track this and not forget).

@jasonbahl I'm guessing the answer is no, but is there a way to query for the permalink structure? It'd be nice to check the permalink structure and error with instructions if pretty-permalinks aren't enabled.

@Nazeh I'm also working on

[2020-07-07 18:43] TylerBarnes commented on #30
@jasonbahl or maybe I can detect in WPGatsby if pretty permalinks aren't set and add a WP error notice to all pages saying to change the permalink structure 🤔

[2020-07-07 21:15] TylerBarnes commented on #37
Hi @etnichols it looks like this is a bug in WPGraphQL. The type of the focalLength field should be a float but it's an int.

See https://github.com/wp-graphql/wp-graphql/issues/1371 for more info. I've opened a PR to fix this in WPGQL but you can resolve it yourself temporarily by omitting that field.

Add this to your config:

[code]

Thanks again for opening this issue! I'm closing it as it's a

[2020-07-07 21:15] #37 closed

[2020-07-07 21:24] TylerBarnes commented on #37
As a sidenote this inspired me to improve the error messages a bit. The errors didn't have the path to the GraphQL field causing the error, so I've added that in `v1.0.1`. Now errors include something like: `Error path: mediaItems.nodes[77].mediaDetails.meta.focalLength`

[2020-07-08 02:09] etnichols commented on #37
Verified the workaround -- thanks Tyler!

Glad it inspired improved error messages 💯

[2020-07-08 03:30] etnichols opened #38 "Normalizers are not executing"
No indication that normalizers are executing.

This is reproducible at https://github.com/etnichols/lead-to-read/tree/wp-experimental, observe that console.log statements in the normalizers aren't printed to console during the build process.

[2020-07-08 06:58] Nazeh opened #39 "Setting "Image size" in "Elementor" to a size smaller than the original triggers 401 (Restricted)!"
Hello @TylerBarnes , Thanks for offering to look into this, I finally found the root cause !Horray?!

I had this error in a production site, so I created a demo site to test it.

To replicate exactly what I did, or you can skip to step (11):

1. create a flywheel [demo site](https://getflywheel.com/wordpress-support/what-is-a-demo-site/) (14 days trial)
2. Enable pretty permalink to avoid this [is

[2020-07-08 15:22] Kallirroi opened #40 "Can't query Posts locally after upgrading to 0.8.1 + WPGraphQL v0.10"
Hi,
I'm getting a strange behavior after upgrading to WPGraphQL v1.0 and gatsby-source-wordpress-experimental to 0.8.1. Using GraphiQL on my Wordpress IDE all queries run fine, but on `http://localhost:8000/___graphql` the same query fails to fetch the `Posts` nodes.
### localhost
![image](https://user-images.githubusercontent.com/10440556/86937110-db39fb80-c10c-11ea-8c1d-4f61c38c1f0d.png)

### Gr

[2020-07-08 16:33] moonmeister commented on #40
Try updating WP experimental to 1.0+.

[2020-07-08 16:58] TylerBarnes commented on #40
Additionally if you can share a reproduction repo + WPGraphQL `/graphql` endpoint that would help me debug and fix it fairly quickly.

[2020-07-08 17:31] Kallirroi commented on #40
Updating `experimental` to 1.0.0 didn't help - here is the repo: https://github.com/Kallirroi/gatsby-wp-test and the endpoint you can use is `https://testingv.wordsinspace.net/graphql`.

[2020-07-08 18:20] TylerBarnes commented on #40
Hi @Kallirroi , it looks like this is due to some internal server errors on your site.
If you run this query in Graphiql:
[code]

With these args:
[code]

You'll see that some connected post nodes are returning `null`.
If you can enable WPGraphQL debug mode that might help uncover why these connections are returning `null`.

So this may be a problem with your WP instance or a problem with WPGraphQ

[2020-07-08 18:30] jasonbahl commented on #40
@Kallirroi can you try WPGraphQL v0.10.2? There was a bug fixed here in relation to term->post connections:

https://github.com/wp-graphql/wp-graphql/releases/tag/v0.10.2

[2020-07-08 18:39] TylerBarnes commented on #40
Upgrade to `gatsby-source-wordpress-experimental@1.0.2` for protection against `null` values here. But it would be super helpful if you could first try to upgrade WPGraphQL as @jasonbahl mentioned and see if it fixes the problem.

[2020-07-08 19:07] Kallirroi commented on #40
@jasonbahl thats the version I have installed. Upgrading to `gatsby-source-wordpress-experimental@1.0.2` solved it!

[2020-07-08 19:07] #40 closed

[2020-07-08 19:35] TylerBarnes commented on #40
Good to hear @Kallirroi ! Fwiw the underlying WPGraphQL bug is being tracked here https://github.com/wp-graphql/wp-graphql/issues/1374

[2020-07-09 04:19] etnichols commented on #38
Perhaps I filed this prematurely 😄 I see that https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/plugin-options.md does not mention normalizers anywhere.

Are there plans to add support for normalizers in this plugin?

[2020-07-09 10:35] robmarshall opened #41 "Document why "WP Menus are not pulled into GraphQL""
I am converting a current WpGraphQL site over to using this package.

When viewing the query to fetch menus in the WordPress CMS panel using GraphiQL the data is visible. However when running 'gatsby develop' the data is not pulled into the Gatsby GraphQl.

Returns count of 0, rather than 2 - with no other data attached.

This applies to both menu fields:

- allWpMenu
- allWpMenuItem

[2020-07-09 16:16] jasonbahl commented on #30
Permalink structure is not currently exposed in WPGraphQL.

We'd need to think about the best way to expose it. Shape of data, and who should be able to access it. Gut instinct is that it could be fully public, but not sure.

[2020-07-09 17:59] mattdabell opened #42 "Missing products on product categories"
Hi!
Firstly great work on the plugin. Initial testing with standard wordpress integration has been awesome. Can't thank you enough for tackling this.

Thought I'd try it out with WpGraphql Woocommerce. I'm aware this hasn't been tested yet so feel free to ignore this issue. However since I got this far thought I may as well raise it in case it's useful.

In woocommerce there's allWpProductCategory

[2020-07-09 23:02] TylerBarnes commented on #41
Hi @robmarshall this is most likely due to a change in WPGraphQL. Menus which have no assigned location are considered private by WP core, so WPGraphQL has been recently changed to work this way as well. When you debug using wp-graphiql, you're actually authenticated so you can see these private menus. Assign a location to them and they should show up in Gatsby 👍

[2020-07-09 23:38] hazuremon opened #44 "Preview with draft and private post"
I have managed to get preview to work for published post, but not for draft and private post and getting 404 page as a result. Does preview work with these post status or only for published post?

I setup TylerBarnes's using-gatsby-source-wordpress-experimental starter and also converted gatsby-starter-wordpress with gatsby-source-wordpress-experimental, tested locally through ngrok and through Ga

[2020-07-10 06:00] woodwoerk opened #45 "Build fails due to missing .terms field on WpMediaItem"
`gatsby build` and `gatsby start` is failing due to missing `terms` field

[code]

Private reproduction (invite sent to @TylerBarnes): https://github.com/woodwoerk/nuori-fi-2020/tree/feature/latest-graphql-and-wp-gatsby

Versions:

- gatsby-source-wordpress-experimental - 1.0.2
- WP Gatsby - 0.4.8
- WP GraphQL - 0.10.2

Full log:

[code]

[2020-07-10 08:59] brettkrueger opened #46 "Cannot query field "connectedObject" on type "WpMenuItem""
The error below is when using a fresh site with the start using `gatsby new krux-gatsby https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/` (also tried directly from Tyler's repo and had the same issue). I'm using WordPress 5.4.2, and PHP 7.4, ensured that the environment variable was set (and also updated manually within the gatsby-config.php), and have both versions of the plugin

[2020-07-10 09:24] brettkrueger commented on #46
Some more info to note:

- This is a multisite install (not live, just testing a bunch of stuff)
- When I first submitted this, I was on the latest version of wp-graphql, but testing [henrikwirth's repo](https://github.com/henrikwirth/gatsby-starter-wordpress-twenty-twenty), it gave me an error about needing to use wp-graphql 9.1, so I tested downgrading that and testing on both gatsby projects, b

[2020-07-10 13:22] riddla commented on #41
Thanks @TylerBarnes, that did the trick for me!

[2020-07-10 17:42] hazuremon commented on #44
Just updated to the 1.0.3 with WP Gatsby v0.4.9, but still getting 404 on draft preview. Gatsby Cloud logged as a successful built with the draft preview request.

[2020-07-10 18:15] PierreMouchan opened #47 "Custom posts types aren't deleted when i switch them from 'publish' to 'trash'"
Hello !
Today i encountered a serious problem mostly due to gatsby cache.
I've created a custom post type in my wordpress, everything it's working fine until i delete a entry and send it to the wp 'trash'.
After re-running yarn dev (also occuring after pushing on netlify for example) my entry is still visible in the front. (despite that this entry is in the trash in the wordpress). I tried to filt

[2020-07-10 18:37] nunof07 opened #48 "Preview not sending ACF custom fields"
I have a local WordPress site with the following plugins installed:

- Advanced Custom Fields PRO
- WP Gatsby
- WP GraphQL
- WPGraphQL for Advanced Custom Fields

I have a local Gatsby site running with `ENABLE_GATSBY_REFRESH_ENDPOINT=true gatsby develop`.

The WordPress instance settings are correctly pointing to the local preview server. I can see changes reflected in preview mode for the standa

[2020-07-10 22:08] Kallirroi commented on #41
I had the same issue and assigning a location solved it - thanks @TylerBarnes!

[2020-07-11 00:46] TylerBarnes commented on #48
This is actually a problem with the ACF extension. As far as I'm aware it's not yet fully supporting previews in the latest WPGQL. @jasonbahl mentioned it would only take a few LOC to make it work. @jasonbahl any updates? :)

[2020-07-11 00:51] TylerBarnes commented on #41
Glad to hear it worked for you :) I'll keep this issue open and change the title to make it about documentation

[2020-07-11 00:57] jasonbahl commented on #48
I’ll try and push a release tonight 🤞

[2020-07-11 01:02] TylerBarnes commented on #48
You should go enjoy your weekend tho! I don't think anyone needs it on a friday night 😛

[2020-07-11 01:56] TylerBarnes commented on #45
The cause is that you're excluding the TermNode type with this plugin option:

[code]

What you can do to fix this now is add the following as well

[code]

But I think this should happen automatically, so I'm working on a fix that doesn't require the second part

[2020-07-11 02:39] TylerBarnes commented on #45
Upgrade to `gatsby-source-wordpress-experimental@1.0.4` for a fix@

[2020-07-11 02:39] #45 closed

[2020-07-11 02:42] TylerBarnes commented on #38
Hi @etnichols ! See this issue for an explanation https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/19

The `Type.beforeChangeNode` setting is what you're looking for. Out of curiosity what are you trying to normalize?
I'm wondering because maybe it's something this plugin should already be doing

Thanks!

[2020-07-11 02:43] #38 closed

[2020-07-11 02:58] TylerBarnes commented on #39
Hi @Nazeh just want to say I haven't forgotten about this!

It's on the top of my list for next week. Thanks for your patience :)

[2020-07-11 08:37] brettkrueger commented on #46
Got this working right away using gatsby-source-wordpress@v3. Since this is still experimental, I'm not entirely sure if this issue is a bug, or just my doing something wrong, so I'll leave this open for now to let the authors decide. Let me know if I can provide any more info about the issue I was having! I haven't deleted the projects using the experimental version.

[2020-07-11 10:40] Nazeh commented on #39
Thanks, @TylerBarnes I appreciate that.
I will make sure to add any s significant details as I continue to experiment.
Also, while I am still a new developer, I would love to contribute if there is some chore you would like me to help with!

[2020-07-11 13:13] imranhsayed commented on #42
@mattdabell
Are you able to fetch price for any product?

[2020-07-11 13:38] imranhsayed opened #49 "Price null on allWpProduct query with wp-graphql-woocommerce"
Hi @TylerBarnes 👋
Thank you for the awesome work on this plugin 🙏
I am pretty excited to build a woocommerce theme with `gatsby-source-wordpress-experimental`

However on testing it,  I am getting price as `null` in the query.

![image](https://user-images.githubusercontent.com/11497423/87225083-efe5f000-c3a7-11ea-8944-6f7a1d256e17.png)

Here is the link for my [WIP repo](https://github.com/imranh

[2020-07-12 19:13] pjsachdev opened #50 "HTML Inline Images markup issue."
Hi Tyler,

Congratulations on the beta release!

I've been playing around with this on one of my WP sites and I noticed that the markup of inline images was a little off. Essentially, the gatsby-image-wrapper div was being preceded & followed with empty paragraph tags like the following.

[code]

I think this is due to WordPress's autop filter which automatically wraps images in P tags by default.

[2020-07-13 13:47] PSalaun opened #52 "Filtering ACF options page by language"
Hi,

**Current Problem**
I'm using ACF and Polylang to handle my options pages. I've managed to get the GraphQL query work in WP, to get the options by language, using a filter:
[code]

but the schema in Gatsby is different, and I cannot filter by language or get a list of all the nodes for each language. I can only write this query, which will return only the default language node:
[code]

**Poss

[2020-07-13 17:28] mattdabell commented on #42
@imranhsayed also seeing price as null when querying directly on allWpProduct as per your issue

[2020-07-13 22:39] TylerBarnes commented on #39
Hi @Nazeh , this is fixed in `gatsby-source-wordpress-experimental@1.0.5`. Thanks again for reporting this bug!
There were actually 2 partially related bugs here. The first was that images fetched from within html weren't properly using previously cached images and weren't being properly cached. The second was that when fetching images in html (that weren't properly cached from before), they were

[2020-07-13 22:39] #39 closed

[2020-07-14 03:43] shosasaki0 opened #53 "Fetching images at build time causes an error"
Hi

I'm about to try out a great plugin, but when I push the first image, it says An error has occurred and I am unable to proceed.

The error is this.

[code]
It's not just this image that is showing an error.

The image exists and it can be seen when I hit the URL.
The images are all over 1MB in size, is there a reason for this?
Changing GATSBY_CONCURRENT_DOWNLOAD did not solve the problem It wa

[2020-07-14 08:42] techexpresslive commented on #46
Will you please share the steps. I am also getting the same error and can't able to build

[2020-07-14 10:16] Nazeh commented on #39
Thanks @TylerBarnes , I just tested and it works just fine. Obviously I ran to other problems 😂  but I am not ready to report them yet until I do more experiments!

[code]
Yes please do!

[2020-07-14 12:20] lnikell opened #54 "Document why we wont: Extend Auth options"
It would be great to have auth options to retrieve data on behalf of a specific user such as Admin, to see and have access to all possible information. In gatsby WordPress, I can use my user credentials for authorization, so it would be great to have it in this plugin too.

It will also solve this issue:
https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/41

[2020-07-14 18:15] hazuremon commented on #44
Managed to get this partially resolved, as It was an issue with Gatsby Cloud, where it always triggered TWO preview build processes per single preview click, and while Gatsby Cloud is still building the preview, WordPress end will get a Gatsby 404 error before the built is completed. Once the built is completed, requesting a preview again on draft post will then be displayed.

Still trying to figu

[2020-07-14 18:15] #44 closed

[2020-07-14 18:20] TylerBarnes commented on #50
Thanks @pjsachdev ! Maybe we need to make it into a span 🤔

[2020-07-14 18:24] TylerBarnes commented on #54
Hi @lnikell the reason I haven't added this is that it's a big security vulnerability for anyone using a Gatsby Preview instance (self-hosted or on Gatsby Cloud). The preview instance will run a build pulling all data including all private data and make that available on a public graphql endpoint. So all user data will be leaked. What's your use-case?
Right now I'm inclined to keep it sourcing pub

[2020-07-14 22:03] TylerBarnes commented on #53
Hi @shosasaki0 , thanks for opening an issue!
It's hard to tell what it could be from your description. Are you able to share a reproduction repo and live WPGraphQL API endpoint that I can use to debug?

Thanks!

[2020-07-14 22:05] TylerBarnes commented on #46
Hi @brettkrueger , from your description it's hard to tell what it could be. Are you able to share a reproduction repo? There have been some major changes to WPGraphQL recently and `connectedObject` is no longer a field on MenuItem nodes. The new field is `connectedNode`

[2020-07-14 22:11] TylerBarnes opened #55 "Feat: Add error message about pluginOptions.schema.perPage for timeouts"
Right now when a request times out the error message mentions increasing the timeout, but another possibility is decreasing the perPage setting to lower the amount of work the remote server needs to do for each request. The error message in `src/utils/fetch-graphql.js` on line 207 should mention this.

[2020-07-14 22:20] TylerBarnes opened #56 "Feat: Add error message about self signed certs"
When using https with a self signed cert, Node will error out. The error message should include a note about turning this off for local development (`NODE_TLS_REJECT_UNAUTHORIZED=0 gatsby develop`).

Additionally, image downloads shouldn't be retried if they return this error.
`RequestError: self signed certificate`

This work will need to be done in `src/steps/source-nodes/fetch-nodes/fetch-refer

[2020-07-14 22:24] TylerBarnes commented on #52
Hi @PSalaun thanks for the feature request!
I agree that this is needed. My thought originally was to add a type option which will cause fields to be fetched multiple times with each value in an enum.
So in this case it could be something like:
[code]

Due to the way caching works in Gatsby we would only be able to do this for a single input field, otherwise the number of required fetches would ge

[2020-07-14 22:27] TylerBarnes commented on #49
Hi @imranhsayed , glad to hear you're excited about this :)
If you can provide me with a live WPGraphQL api endpoint I can use to debug with I can get this fixed for you.

[2020-07-14 22:32] TylerBarnes commented on #47
Hi @PierreMouchan , sorry to hear you're running into an issue! Does this also happen for you on the build in post and page types? Or just for CPTs?

[2020-07-14 22:34] TylerBarnes commented on #42
Just responded in https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/49

These are likely related 👍 I can check these both out. @mattdabell are you able to share a WPGraphQL api endpoint I can use to debug?

[2020-07-14 22:36] TylerBarnes commented on #30
So my current thinking on this is to add to WPGatsby's schema a field that just returns wether or not pretty permalinks are enabled. If they're not, the source plugin should throw a large warning. Additionally on the WP side, WPGatsby should add a wp error notice to the top of every page if WPGatsby is active but pretty permalinks are not enabled.
This should also be added to the quick start steps

[2020-07-14 22:37] brettkrueger commented on #46
@TylerBarnes revisiting this, I think the issue was actually just a mismatch between my installed WPGraphQL version and the gatsby-source-wordpress-experimental dependency. When I updated to GraphQL 0.10.0, it works as expected. Sorry about that!

@techexpresslive

If the thing I did to fix it doesn't work when you try (ensuring you're on gatsby-source-wordpress-experimental with v0.10.0 of the WP

[2020-07-14 22:37] #46 closed

[2020-07-14 22:38] TylerBarnes commented on #29
Thanks for this feature request @jonlow , I agree that this would be good to have. I'll add this in soon. Thanks again!

[2020-07-14 22:41] TylerBarnes opened #57 "Fix: make sure verbose mode is readable on various terminal themes"
I was pairing with Lennart a few months back and the terminal output had low contrast and was hard to read (for the blue gatsby-source-wordpress boxes). This is an easy fix that will improve ux 👍

[2020-07-14 22:45] TylerBarnes opened #58 "Feat: namespace redux store by typePrefix option"
Right now if multiple instances of the source plugin are used within a single Gatsby site each instance will overwrite the redux store of the other (there's only 1 store). This should remain as 1 store so we can communicate between plugin instances, but state and actions should be scoped by typePrefix.

[2020-07-14 22:46] TylerBarnes opened #59 "Feat: add WPGraphQL descriptions to generated Gatsby schema"
This will bring over the descriptions from WPGQL so they can be viewed in Gatsby's Graphiql.

[2020-07-14 22:59] TylerBarnes opened #60 "Add an API to skip fetching data for a field and resolve gatsby-side / add nested field Gatsby filters"
For example, in the `User.posts` field we're currently fetching the id's of all connected nodes (up to 100 of them). This isn't necessary because we already know that Post nodes will have an author field and we can use that to    resolve which nodes should be connected. Resolving this locally will also allow us to resolve more than 100 connected nodes.

The api might look something like:

[code]

[2020-07-14 23:09] TylerBarnes opened #61 "Modify delta queries to use node list queries so that node filters apply"
Currently when using the Type.nodeFilters option, that will only be applied to lists of nodes as they're sourced, not when nodes are incrementally updated. This is important for multilingual sites that live across multiple domains and require multiple gatsby builds (1 for each domain) that are filtered to each language. The problem is that node filters don't apply to single node queries. They coul

[2020-07-14 23:10] TylerBarnes opened #62 "If an author has 1 post and that post is deleted, the author remains public"
In WP users with no posts are private. This should be the same in Gatsby

[2020-07-14 23:16] TylerBarnes opened #63 "Fetching nested connections to nodes that can't be fetched in a flat list"
Fetching nested connections to nodes that can't be fetched in a flat list causes nodes to be missed on the Gatsby side.

For example, in previous versions of WPGraphQL, nested menu items on menus couldn't be fetched because there was no way to properly fetch those nodes in a flat list.

What we could do to account for this situation is: as nodes are sourced and analyzed, store up every connected i

[2020-07-14 23:17] TylerBarnes commented on #63
This is actually not a problem in WPGQL core anymore since everything can be fetched in a flat list now. I'm sure this will be needed to support WPGQL extensions though.

[2020-07-14 23:22] TylerBarnes opened #64 "Cache schema/data separately for each node type"
This will prevent refetching all Post nodes when the schema only changes for Page nodes.

[2020-07-14 23:23] TylerBarnes opened #65 "Run delta update queries in batches instead of 1 per node"
Right now when there are nodes updates, they're processed 1 at a time. They should be processed in batches instead to improve build times when there are a lot of changes.

[2020-07-14 23:26] TylerBarnes opened #66 "Make download manager smart"
Right now when media files are fetched and 1 fails, it's added to the end of the processing queue. This makes media file fetching pretty resilient when a server gets overloaded from too many requests. Since this is much more resilient we actually have a chance here to automatically manage how many concurrent requests we're making based on how well the server is handling it. Perhaps we could increa

[2020-07-14 23:30] TylerBarnes opened #67 "Process author avatar via gatsby-image"
Since this type isn't a MediaItem, it has no local file.
This could easily be pulled in to be processed via Sharp

[code]

[2020-07-14 23:34] TylerBarnes opened #68 "Create 2 way references from html media items to posts/pages they appear on"
This is needed to re-run node processing when editing an image. Any nodes that have the edited image in their html need to be updated.

This would also make things a lot easier for people using WP/Gatsby. You could programatically determine which images are actually in use this way.

[2020-07-15 00:31] TylerBarnes commented on #29
I was thinking about this a bit more and I'm not sure if this is a good idea actually 🤔 It's dangerous to add authentication headers as if someone adds them and they get added to a Preview instance (either self-hosted or on Gatsby Cloud), all private data will be publicly available on that Preview instances GraphQL endpoint. What's your use-case @jonlow ? Maybe there's another good use-case here a

[2020-07-15 01:32] zeevosec opened #69 "Gutenberg vs Classic"
Gutenberg is commonly known as the "new Wordpress editor" that is "Block-based". It is _somewhat_ controversial in whether or not it is an upgrade from the classic editor.

Should we be using it over the classic editor? How does it interact with this plugin, or wpgraphql, in general? What features are lost or gained? Should we be using wp-graphql-gutenberg if we are using Gutenberg?

Thanks for al

[2020-07-15 05:50] PierreMouchan commented on #47
@TylerBarnes it seems to only appear on CPTs (if you need more infos tell me, i don't really know how to guide you for this one haha)

[2020-07-15 05:57] PierreMouchan commented on #47
![image](https://user-images.githubusercontent.com/38973205/87508968-d4f9d100-c670-11ea-9201-8ec99fa5b2da.png)

[2020-07-15 08:06] mattdabell commented on #42
Thanks @TylerBarnes , can use this env for testing woocommerce: https://ssgatsby.wpengine.com/graphql

[2020-07-15 08:23] ashhitch opened #70 "Explain in error messages why "404'ing Media causes build to fail""
Previously I would just get a warning of 404s for media but now when the first post with inserted media which 404s I get an error and the build fails.

[code]

The build completes if I set:

[code]

Plugin version `1.0.7`
WP Gatsby `0.4.9`
WpGraphQL `0.10.3`

[2020-07-15 16:30] TylerBarnes commented on #69
Hey @zeevosec ! Glad to hear you're enjoying it 😄
You should be able to use either of them. Gutenberg does have issues though as it's still so new. The 2 biggest problems right now are:
- No way to preview post meta (can't preview acf) https://github.com/WordPress/gutenberg/issues/16006
- There's no server side registry of blocks so Gutenberg blocks can't be properly added to the WPGQL schema

The

[2020-07-15 16:32] TylerBarnes commented on #47
That should be enough info for me to reproduce. Thanks @PierreMouchan !

[2020-07-15 16:34] PierreMouchan commented on #47
Also deployed on Netlify with build cache plugin ! (btw)

[2020-07-15 18:31] pjsachdev commented on #50
Hmm, do you mean replace the p tag wrapper with a span?

If so, I'm not sure if it would be valid markup for the gatsby-image-wrapper div to be nested within it. 🤔

[2020-07-15 18:39] pjsachdev opened #71 "Additional HTML Image Options"
It would be nice to have some additional configuration options for the images within the_content which are converted to Gatsby Img components.

For instance, it would be particularly useful to optionally choose to use WebP images and to use traced SVG's instead of the blur up technique when lazy loading.

[2020-07-16 07:14] talldan commented on #69
There's a new REST endpoint merged in https://core.trac.wordpress.org/ticket/47620 that should expose server registered blocks and should be in WP 5.5.

[2020-07-16 08:13] Nazeh commented on #70
I get a 404 error too but I don't get any indication on the place of the image, and the `html: { useGatsbyImage: false}` don't solve the issue, I would be happy if at least I can tell where the image is used!

[code]

[2020-07-16 16:57] TylerBarnes commented on #70
Hi @ashhitch , this is actually by design to prevent deploying a broken site. We were considering this a feature because an admin can delete an image from the media library without knowing where that image lives. All pages or posts that had that image in html will then be broken. The link where the image is used is added to the error so that the site can be fixed https://github.com/gatsbyjs/gatsby

[2020-07-16 16:59] TylerBarnes commented on #70
Oh @Nazeh actually the error message includes the link to the media item too `Media item link: https://********.com/?attachment_id=23787`. I will add a note about what this means to the error

[2020-07-16 17:08] TylerBarnes commented on #69
That's awesome @talldan !

[2020-07-16 17:34] woodwoerk opened #72 "Build fails after WordPress content changes"
The following error occasionally occurs on both `build` and `develop` after content has been changed in WordPress:

[code]

This doesn't happen all the time and I've not been able to pin down exactly which content changes cause the error. After clearing the cache everything runs smoothly.

Private reproduction (@TylerBarnes has access): https://github.com/woodwoerk/nuori-fi-2020

Full log:
[code]

[2020-07-16 17:35] woodwoerk commented on #72
Just played around with a few simple content changes to see what triggers this:

1. Removing text only => build succeeds
2. Removing a group with an image and text => build fails

[2020-07-16 17:49] woodwoerk commented on #72
Download link to `.cache` and `public` folders for reproduction: https://we.tl/t-G6GaqiiDXN

[2020-07-16 18:18] ashhitch commented on #70
@TylerBarnes i do think it would be handy to have an option especially in dev to allow them through like before with just a warning.

Along with just being able to ignore old posts with missing media.
A use-case I have is I'm dev'ing a site with a lot of media but I don't want to copy all the media down to staging.

[2020-07-17 08:54] imranhsayed commented on #49
Thank you will add soon

[2020-07-17 12:46] imranhsayed commented on #49
@TylerBarnes
I have installed and setup all the required WordPress plugins on `https://codeytek.com/wordpress_woo`, that can be used as SITE_URL in `.env`
And [this is my working repo](https://github.com/imranhsayed/gatsby-woocommerce-themes) where you can test and debug.
Would that help?

[2020-07-17 21:28] TylerBarnes commented on #50
I mean maybe we need to make the div into a span :) since div's can't be children of paragraph tags

[2020-07-17 21:30] pjsachdev commented on #50
Ah, that makes sense. Yeah, that would work.

[2020-07-19 00:42] lqze commented on #72
To confirm, this is happening:
1. successfully build once,
2. you then delete some content (e.g. image + text group),
3. try to rebuild it fails,
4. clear cache then it succeeds

Does some existing image + text group still exist on the site, or are you deleting the only instance of it ?

[2020-07-19 04:50] woodwoerk commented on #72
I only deleted a block from a page (so the instance), the media file still exists on the site

[2020-07-20 10:54] robmarshall opened #73 "WordPress Plugin - getmypid() disabled for security reasons"
I am working on a site where WordPress is hosted on Flywheel. They are disabling the getmypid() function - stating the following error:

[code]

I have not yet got the Gatsby side to a point where I can test if this causes any actual problems but thought it was worth flagging.

[2020-07-20 13:38] rodrigo-arias opened #74 "OutgoingMessage.prototype._headers is deprecated"
Hi Tyler,

This really is not an important thing. I have started using the plugin from its first versions and I have always got this error

`(node:64995) [DEP0066] DeprecationWarning: OutgoingMessage.prototype._headers is deprecated`

Maybe it could be used instead `OutgoingMessage.prototype.getHeader()`, but I haven't found any reference in the code, maybe you could give me some hint.

Thanks

[2020-07-20 20:24] oliverfeher opened #75 "Critical error sourceNodes.sourceNodes build step."
I have a running WP development instance hosted on pantheon and I'm trying to use the DB for localhost.

This is my gatsby-config.js
`{
      resolve: `gatsby-source-wordpress-experimental`,
      options: {
        url: `https://my-site-hosted-on-pantheon/graphql`,
      },
    }`

and this is my error msg.
`ERROR

 gatsby-source-wordpress

        Encountered a critical error when running the so

[2020-07-20 20:45] Kallirroi commented on #41
![image](https://user-images.githubusercontent.com/10440556/87984628-3e7e4300-caa8-11ea-99d7-a620b81ec4e3.png)
@oliverfeher You need to check one of the Menu boxes like above.

[2020-07-20 21:15] oliverfeher commented on #41
I did, however I'm still getting this error `Error    Cannot query field "menus" on type "Query" `

[2020-07-21 10:30] lupoair commented on #53
@TylerBarnes We are having the same issue with out of the box gatsy + gatsby-source-wordpress-experimental setup up to our live endpoint. Can send endpoint for testing as PM.

[2020-07-21 11:46] mattdabell commented on #42
@TylerBarnes emailed the endpoint

[2020-07-21 11:49] renatoruk opened #76 "contentType field on pages and posts always returns null"
Hello Gatsby team! This new WordPress plugin and whole dev experience around it is amazing even it's in beta. The improvements are huge. Thank you for making a great effort 🥇

I think I found a bug in querying `contentType` on any WordPress entity that supports it.

*This is a screenshot of a query inside WP.*
![wp-query](https://user-images.githubusercontent.com/12981417/88050931-10f0d280-cb58-11

[2020-07-21 13:13] woodwoerk opened #77 "Email field missing from GraphQL User schema"
Hey there,

I'm not able to query `email` on a user and the email field isn't shown in the WpUser schema under `localhost:8000/___graphql`. The user email field is available within the WordPress GraphiQL plugin. Is this left out by design or missing?

gatsby-source-wordpress-experimental - ^1.0.7
WP Gatsby - 0.4.12
WpGraphQL - 0.10.3

Reproduction (query under `src/pages/index.js`): https://github

[2020-07-21 14:04] woodwoerk commented on #75
Hey @oliverfeher !

Do you also see `error Cannot destructure property 'id' of 'undefined' as it is undefined.` in your log output? If so this might be a duplicate of #72

[2020-07-21 14:08] oliverfeher commented on #75
Hi @woodwoerk !

I haven't seen that error. Every time I'm trying to run `gatsby develop` it will throw this error...

This is my most recent gatsby-config.js

`{
      resolve: `gatsby-source-wordpress-experimental`,
      options: {
        url: "https://my-site.pantheonsite.io/graphql",
        verbose: true,
        schema: {
          queryDepth: 5,
          typePrefix: "Wp",
          timeo

[2020-07-21 16:02] TylerBarnes commented on #70
@ashhitch , that's a really good use-case. I'll put this on my list and have another crack at it.

[2020-07-21 16:08] TylerBarnes commented on #41
@oliverfeher can you share a reproduction repo that has this issue? It's hard to tell what could be happening from your description. Thanks!

[2020-07-21 16:19] ashhitch commented on #70
@TylerBarnes Thank you! Keep up the awesome work.

[2020-07-21 16:46] TylerBarnes commented on #72
Hi @woodwoerk , just so you know I haven't forgotten about this! I believe I've narrowed down what's causing it and I'm working on a fix. I'll keep you posted. Thanks for your patience!

[2020-07-21 18:26] hazuremon opened #78 "Preview not updating on published post and 404 on draft post"
WP draft preview has stopped after latest update with following behaviours:

1. Draft post will return with Gatsby development 404 error
2. Published post will return with preview, but non-published changes are not reflected in preview.

gatsby-source-wordpress-experimental: 1.0.7
wp-gatsby: 0.4.13
WP: 5.4.2
WP GraphQL: 0.10.3

Tested on Gatsby Cloud and locally through ngrok debug setup.

[2020-07-21 20:14] pristas-peter opened #79 "Cannot query nested fields"
For more info, see:

https://github.com/GatsbyWPGutenberg/gatsby-wordpress-gutenberg/issues/44

[2020-07-21 21:28] vscncls opened #80 "Docs: "Configuring WPGatsby - Setting Up Builds" doesn't mention which http method is used"
It would be really helpful if the docs explicitly mentioned that the webhook makes a **POST** request to the given url.

[2020-07-21 21:36] vscncls opened #81 "Docs don't mention that the "Builds webhook" field is a csv list"
[https://github.com/gatsbyjs/wp-gatsby/blob/master/src/ActionMonitor/ActionMonitor.php#L1008](https://github.com/gatsbyjs/wp-gatsby/blob/master/src/ActionMonitor/ActionMonitor.php#L1008)
It would be nice if the docs mentioned this behaviour.

[2020-07-21 22:34] TylerBarnes commented on #75
Hi @oliverfeher , it's hard to tell what it could be from the description. Can you share a reproduction repo or a the GraphQL endpoint url so I can use it to debug? If it's private you can send it to me at tyler@gatsbyjs.com

Thanks!

[2020-07-22 02:16] TylerBarnes commented on #75
Oliver DM'ed me on twitter, it appears the problem here is a WPGraphQL bug where JSON in post content seems to cause an error (my best guess) and that wasn't being caught by this plugin. I DM'ed @jasonbahl the details and we'll work out an upstream fix for this. I'll also update the error handling here to catch this error more gracefully in the meantime 👍

[2020-07-22 02:18] oliverfeher commented on #75
@TylerBarnes , thank you so much for your help!

[2020-07-22 02:43] TylerBarnes commented on #72
I believe I've added a fix in `gatsby-source-wordpress-experimental@1.0.9`. It's hard to know for sure as I can't seem to reproduce this, but please try it out and let me know if you're still running into this

[2020-07-22 02:45] TylerBarnes commented on #75
Anytime, always happy to help :)

[2020-07-22 05:47] woodwoerk commented on #72
Thanks @TylerBarnes ! I've upgraded to 1.0.10, I'll stress test it with some content changes today

[2020-07-22 06:12] woodwoerk commented on #72
Dang it just happened again, exactly the same output on the CI with a clean cache after upgrading the source plugin

- `"gatsby-source-wordpress-experimental": "1.0.10",`
- WP Gatsby 0.4.13

Here's what I changed:
- Build with a clean cache -> builds fine
- Edit a post - Remove a H2 block and ungroup some other blocks -> builds fine
- Edit the same post - Add a "Media & Text" block with an image a

[2020-07-22 12:51] woodwoerk commented on #72
Just replicated this again locally. Oddly it doesn't seem to matter which content is added or removed, but seems to always fail on the third build after clearing the cache 😄

1. Build with a clean cache ✔️
2. Edit a post - Add a "Media & Text" block with an image and paragraph block ✔️
[code]
3. Edit the same post - Add a "Media & Text" block with an image and paragraph block ❌
[code]

If I don't

[2020-07-22 14:01] jasonbahl commented on #75
@oliverfeher I tried the endpoint that @TylerBarnes shared with me and it appears it's not a valid GraphQL endpoint. Did you de-activate WPGraphQL on that endpoint?

[2020-07-22 14:11] oliverfeher commented on #75
@jasonbahl , is there a possibility that we could DM? https://twitter.com/Oliver92F

[2020-07-22 15:14] woodwoerk opened #82 "Missing localFile images after upgrading to 1.0.10"
Hey, this is a possible regression since 1.0.7, after reverting back to 1.0.7 everything works as expected.

I have a static query that fetches a bunch of images from an ACF gallery, and since upgrading to 1.0.10 it's not returning all available images

[code]

- In WordPress GraphiQL: imageBank contains 30 images (as expected)
- In Gatsby GraphiQL, on first start with a clean cache: imageBank con

[2020-07-22 21:01] TylerBarnes commented on #72
Thanks for the clear steps! I'll take another look today. I have an idea of what it is but if I can reproduce it'll be a lot easier to know that I fixed it. Thanks again!

[2020-07-23 06:16] TylerBarnes commented on #82
Hey @woodwoerk , thanks for catching this!

The reason is that I had fixed a bug where many more images than were actually referenced were being fetched. Turns out that overfetching was covering up this other bug where images only referenced in non-node root fields (like options) weren't being properly recognized and fetched. Upgrade to `gatsby-source-wordpress-experimental@1.0.12` for a fix :)

[2020-07-23 06:16] #82 closed

[2020-07-23 11:47] robmarshall opened #83 "GraphQL date formatString functionality not applied to modified"
When running GraphQL queries it is currently possible to run formatString on a post/page date field. This lets you use a Moment format string to change the date output. Example:

[code]

This does not work with modified. Example:

[code]

It would be helpful for this functionality to be mirrored, as date and modified tend to be used in the same way.

Helpful link: https://www.gatsbyjs.org/docs/gra

[2020-07-23 15:47] robmarshall opened #84 "WordPress Plugin - Preview button not working when settings complete"
I have installed the most recent wp-gatsby WordPress plugin. 0.4.13.

On entering all settings details provided by Gatsby Cloud, the preview button does not load a Gatsby Cloud preview page.

[2020-07-23 15:48] robmarshall commented on #73
This is not longer an issue. Not sure how it was resolved. Sorry anyone in need of this.

[2020-07-23 15:48] #73 closed

[2020-07-23 15:48] woodwoerk commented on #82
Fab! Thanks so much for the speedy response

[2020-07-23 16:11] TylerBarnes commented on #84
Hi @robmarshall , thanks for opening an issue!
It's hard to tell what it could be from the description. Are you able to make me an admin on the site temporarily or take some screenshots of your settings? My email is tyler@gatsbyjs.com in either case. One thing to note is that previews currently require you to build your Gatsby pages using the WordPress uri field, so if you have a custom page path

[2020-07-23 16:13] TylerBarnes commented on #81
Hi @vscncls , the reason it accepts a CSV list is only for us to be able to test various benchmarking services. It's not recommended to have your site hit multiple build webhooks usually. Do you have a use-case for doing so? For now it's an intentionally undocumented API which may be removed in the future.

Thanks for raising this point 👍

[2020-07-23 16:17] TylerBarnes commented on #83
Hi @robmarshall , thanks for raising this issue. Currently WPGraphQL doesn't have a built in Date scalar, making it hard to programatically determine what's a date when consuming and recreating the WPGQL schema in Gatsby.
I originally had thought of adding a type option so you could flag different fields as being a Date, but @jasonbahl mentioned WPGQL will be getting a Date scalar at some point. L

[2020-07-23 16:22] robmarshall commented on #83
I believe (I may be mistaken) that there are only 4 date nodes on standard WordPress installs. date, dateGMT, modified, and modifiedGMT. Would it be possible to add date to these?

[2020-07-23 16:32] robmarshall commented on #84
I have sent you an email. Thanks!

However, this strikes me as a WordPress plugin issue, as the URL within the WordPress preview button is not changing.

[2020-07-23 16:33] TylerBarnes commented on #80
Hi @vscncls , thanks for the suggestion! I'm not opposed to this but I'm also wondering what knowing this will be helpful for. I believe this is an implementation detail that developers will never need to worry about, but I might be missing some use-case where this would be good to know.

[2020-07-23 16:35] TylerBarnes commented on #79
Thanks @pristas-peter ! I followed up in that issue.

[2020-07-23 16:40] TylerBarnes commented on #84
Thanks for the email @robmarshall , that's helpful. The url there shouldn't need to change as the preview url logic happens within the WP preview template. There is another issue open about preview as well so I will do some manual testing of Preview today to see what I come up with.

Thanks again

[2020-07-23 16:43] TylerBarnes commented on #78
Thanks @hazuremon , I've had a couple other reports of preview issues as well. I'll be spending some time today manually testing preview to see what kinds of issues I run into. What version of Gatsby are you on?

[2020-07-23 16:50] robmarshall commented on #84
Hmm, maybe that is the problem.

Is the preview pane the Gutenburg panel? I am using the Classic Editor
plugin as Gutenburg is too much bloat for what we need.

I'll try removing that and see what happens.

On Thu, Jul 23, 2020 at 5:40 PM Tyler Barnes <notifications@github.com>
wrote:

[2020-07-23 16:58] TylerBarnes commented on #84
Nope, classic editor actually works better :) Gutenberg works but is buggy in that it sometimes sends twice as many save_post hooks. I'm thinking this is probably a bug in WPGatsby or the source plugin. I'll keep you updated as I learn more.

Thanks

[2020-07-23 17:01] TylerBarnes commented on #29
Hi @jonlow , I'm going to close this for now as I can't think of a good use-case (not that there isn't one though). Please re-open or comment here when you have time.

Thanks again!

[2020-07-23 17:01] #29 closed

[2020-07-23 17:09] amcc opened #85 "improve error message "gatsby-source-wordpress Request failed with status code 500""
I have started getting the error  gatsby-source-wordpress  Request failed with status code 500

This has been intermittent, and everything was working fine until recently. I assume it might be because the number of posts has grown beyond a certain amount, but its relatively small - around 50 posts and users. The full error is below:

[code]

I have tried using the following option in gatsby-config

[2020-07-23 17:10] vscncls commented on #81
Oh, that makes sense. I don't have a particular use-case for this, I was just taking a peek at the code and thought this was a cool feature.

Thanks for all the work you all have been putting in this update, is coming along pretty nicely!

[2020-07-23 17:10] #81 closed

[2020-07-23 17:15] vscncls commented on #80
In my particular use-case, I have an endpoint that re-builds the website every time it receives a request and this endpoint happened to only accept GET requests, so my endpoint never recieved any requests when data was added/updated. it took me quite a while to understand why wp-graphql wasn't making a request my endpoint, I had to go peek in the source code to find out it was a POST request.

If

[2020-07-23 20:28] TylerBarnes commented on #83
Absolutely! I'll put this on my list cause that's very reasonable and easy to do. Thanks for the suggestion

[2020-07-23 22:39] jacobarriola commented on #57
@TylerBarnes what did you have in mind? I'm happy to help out with this 🙂

I'm running the `GitHub Light` VS Code theme and it seems like the `white` font color declared [here](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/src/utils/format-log-message.js#L19) isn't getting recognized. 🤔

![image](https://user-images.githubusercontent.com/1371573/88345299-88f6fe00-ccf

[2020-07-24 01:10] TylerBarnes commented on #72
ooo! I was finally able to reproduce using v1.0.10, I'm not able to reproduce in v1.0.12 though. Can you try updating to latest to see if you still have this issue? in 1.0.11 and 1.0.12 I did some work that makes caching in this area of code more reliable (for images in html) so I'm wondering if fixing those other bugs happened to fix this one as well.

[2020-07-24 02:59] TylerBarnes commented on #57
Hey @jacobarriola , I'd love help with this! I actually didn't have anything in mind, I was thinking of trying some things out until some combination worked well enough. I also don't know a ton about terminal themes, I wonder if there's a way to adapt based on what kind of theme it is or something 🤔
But help would be very much appreciated 😄

[2020-07-24 03:11] jacobarriola commented on #57
Sounds good. I'll test a few things out. 👍🏽

[2020-07-24 03:23] TylerBarnes commented on #80
That's a great point! Let's add it

[2020-07-24 11:11] woodwoerk commented on #72
Woooo! I’m unable to reproduce this now (with plenty of content changes between builds) 🎉

Thanks a bunch man, I can’t begin to imagine the complexity of the cache management here, great work!

[2020-07-24 11:11] #72 closed

[2020-07-24 14:58] TylerBarnes commented on #72
Yes!! Great to hear :D Let me know if you run into anything else. I'm slowly chipping my way through all the tickets here. It will be stable soon!

[2020-07-24 15:02] TylerBarnes commented on #85
Hi @amcc , it's hard to tell what it could be from the description. Are you able to check your PHP/WP error logs and send those over? (tyler@gatsbyjs.com). Also if you're able to provide a reproduction repo that would be super helpful!

[2020-07-24 15:22] jacobarriola opened #87 "WooCommerce: unexpected high number of fetched nodes for Product type"
## Repro steps
* run `gatsby develop`

## Expected behavior
* ~ 1,200 `Product` type nodes should be fetched

## Actual behavior
* ~20,000 (and counting) `Product` type nodes were fetched
* the fetch process ran for 2 hours and halted because my machine when to sleep

## Notes
* endpoint: https://therudis-staging.ppjs4w65-liquidwebsites.com/graphql
* there are currently ~1,200 `product` posts
* th

[2020-07-24 16:08] amcc commented on #85
So i've 'fixed' it for now by excluding type User - i think I've ruled out server config problems after speaking to the support people - I'm paying for a good server with good support.

I have found PHP errors -
[code]

The above errors occurred at various times - I've not dug into the PHP yet to see what is on those lines - I've not managed to tie in the times with the problem occurring yet, but

[2020-07-24 16:23] amcc commented on #85
I've upped the memory limit with wordpress in the wp-config.php file by adding this line:
[code]
That seems to have fixed the issue.

I'm using a 5 year old WP site, which perhaps has a lower memory limit than more recent installs (though its fully updated to the latest version. I hope this helps someone else.

I bet its hard to do, but I wonder if the actual PHP error can be passed through to Gat

[2020-07-24 16:35] bogdancss opened #88 "Provide a more helpful error for http vs https "Getting Error path: undefined when trying to migrate from v3 to the experimental""
Hello,

I am having trouble even getting this to spin up. I've installed the plugin, included it in the `gatsby-node` file:
[code]

And as soon as I run `gatsby develop`, I get this error:

[code]

The URL provided to the plugin does return the following response:

`"message": "GraphQL Request must include at least one of those two parameters: \"query\" or \"queryId\"",`

But, according to the [WP

[2020-07-24 16:58] TylerBarnes commented on #55
This is published in `gatsby-source-wordpress-experimental@1.0.14` Thanks again @jacobarriola !

[2020-07-24 16:58] #55 closed

[2020-07-24 17:00] TylerBarnes commented on #77
Hi @woodwoerk , this was an intentional choice to exclude some fields if they always return null when not authenticated. I chatted with Jason about it and realized people can easily filter these fields to make them public, so there's no reason to exclude these by default. Upgrade to `gatsby-source-wordpress-experimental@1.0.14` and the field should show up!

Thanks for raising this issue

[2020-07-24 17:00] #77 closed

[2020-07-24 17:06] TylerBarnes commented on #75
Via DM we were able to narrow the issue down to a single post_content field which contained JSON data. We weren't able to reproduce by copy/pasting that JSON data into our test WP instances, even after attempting to apply a post_content filter to JSON parse the data. Our best guess is that there is some custom logic in this WP instance that is filtering the content or something else to cause Graph

[2020-07-24 17:06] #75 closed

[2020-07-24 17:57] woodwoerk opened #89 "Some inline images aren't processed to gatsby-image"
Heya!

Some inline images are no longer being processed to `gatsby-image`s, I rolled back to 1.0.7 and all images work as expected there. I can't spot a pattern here, all are bog standard jpegs hosted on WordPress without anything custom, some of the same images on a single page become `gatsby-image`s and others don't.

- Private reproduction (@TylerBarnes has access): https://github.com/woodwoerk

[2020-07-24 17:58] TylerBarnes commented on #88
Hi @bogdancss , thanks for opening this issue. It's hard to tell from your description what the problem could be. Can you share your /graphql endpoint with me? My email is tyler@gatsbyjs.com. Additionally a reproduction repo would be helpful here.

Thank you!

[2020-07-24 18:03] TylerBarnes commented on #89
🤔 oo, thanks for reporting this. And thanks for continuing to point out these issues. I have it on my todo list to write some exhaustive integration tests for images in html, I think I'll need to bump that up my list and do that as I fix this issue. Thanks again for your patience @woodwoerk !!

[2020-07-24 18:07] TylerBarnes commented on #85
Thanks for the update here @amcc ! Yeah that's a tough one for sure. As far as I'm aware we wont be able to pass the error through 🤔 but maybe the error message for 500 errors could explain some common scenarios and potential fixes.

@jasonbahl what do you think?

[2020-07-24 18:09] TylerBarnes commented on #85
@amcc the one other thing you can do is lower the option `options.schema.perPage`. It's set to 100 by default (100 nodes fetched per request), but for servers with low memory this might be too many nodes in some cases. If you run into the issue again after having increased server memory, try lowering perPage to 80 or even 50.

[2020-07-24 18:10] woodwoerk commented on #89
Thank _you_ for the work on the plugin! 😄 Even in these early days it's already proving to make WordPress life way easier. Cheers!

[2020-07-24 18:13] TylerBarnes commented on #80
@vscncls just realized I didn't ask: are you interested in making a PR for this? :)

[2020-07-24 18:14] TylerBarnes commented on #26
FYI this fileSize option has been merged into WPGraphQL and we're just waiting on a new release 👍

[2020-07-24 18:27] TylerBarnes commented on #54
Hi @lnikell , thanks again for opening this issue. For now we're intentionally not adding auth to this plugin because it could mean all private data becomes public. Please feel free to re-open this issue or comment here if you have any additional thoughts or input.

Thanks again!

[2020-07-24 18:37] TylerBarnes commented on #85
By the way, the current plan is to write an algorithm for our node fetch script that automatically recovers and attempts to reconfigure itself for these cases https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/66

[2020-07-24 18:39] TylerBarnes commented on #76
Hi @renatoruk , thank you for this really well written issue! This looks like a bug indeed. I'll have a look 😄
Thanks again!

[2020-07-24 18:44] TylerBarnes commented on #69
As of now I would say the biggest barrier to using Gutenberg is that meta is not previewable. For sites using entirely Gutenberg with no additional meta (probably a rare case, but hard to say), Gutenberg will work fine. If you need to be able to preview meta I would still avoid Gutenberg for now. Closing this issue for now but feel free to continue discussion here.

[2020-07-24 18:44] #69 closed

[2020-07-24 18:50] TylerBarnes commented on #74
Hi @rodrigo-arias , thanks for pointing this out. I went searching for this myself a couple months ago and couldn't find it. I believe it's actually coming from within axios (which is being used to source nodes). https://github.com/axios/axios/issues/2469

[2020-07-24 18:51] vscncls commented on #80
Yes! I'll open a PR later today :+1:

[2020-07-24 18:52] joperron commented on #26
That's huge! No pun intended

[2020-07-24 18:54] pristas-peter commented on #69
Wouldnt a custom rest endpoint with metadata fired alongside a revision create be able handle this?

[2020-07-24 19:04] TylerBarnes commented on #71
This is a great idea!

[2020-07-24 20:03] TylerBarnes commented on #69
@pristas-peter something like that is probably needed. Might be good to suggest it in https://github.com/WordPress/gutenberg/issues/16006 :)

[2020-07-24 20:05] TylerBarnes commented on #80
Awesome 😄 thanks so much!

[2020-07-24 20:10] TylerBarnes commented on #89
That's awesome to hear 😄 glad it's useful!!

[2020-07-24 20:54] amcc commented on #85
thanks for the help - thats really useful. I couldn't see documentation about these options - i think they're there for the original Wordpress plugin - but i see you've added the documentation tag to this, so that may help others. Great plugin though - thanks for the good work

[2020-07-25 02:50] TylerBarnes commented on #78
Hi @hazuremon can you try updating to the latest version of the source plugin to see if this issue is fixed for you?

Thanks!

[2020-07-25 03:03] TylerBarnes commented on #76
This is appears to be a `woocommerce-wp-graphql` bug. When I make those same queries from Graphiql, I get null returned for `Product.contentType.id` along with an error. There may be certain conditions where this query does not return null, but null is being returned during node sourcing. I recommend not using wp-graphiql to debug because it's authenticated and Gatsby wont be authenticated when so

[2020-07-25 10:50] renatoruk commented on #76
Hey Tyler, thank you for taking the time to take a look at it!

Can you explain how is `wp-graphql-woocommerce` related to `wp-source-wordpress-experimental`? I'm not seeing it in the [dependency graph](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/network/dependencies).

I forgot to mention that in the original issue description, but "Product" is a custom post type, woocommerce

[2020-07-25 12:59] MussadiqKhan opened #91 "Improve error messages when fieldnames or typenames start with int: "Syntax Error: Invalid number, expected digit but got: "W". (1:831)""
@AbeEstrada   I am working on a client's wordpress website. I am using the latest version of gatsby-source-wordpress-experimental but I am getting the following error when I run gatsby develop. Any help would be appreciated.

`Syntax Error: Invalid number, expected digit but got: "W". (1:831)

SideNavigationTemplate{templateName}}terms(first:100){nodes{id}}title uri __typename}pageInfo{hasNextPage

[2020-07-25 14:00] MussadiqKhan commented on #91
`SyntaxError: Syntax Error: Invalid number, expected digit but got: "W". (1:831)

      |

                          ^

  - parser-graphql.js:1 n
    [sellerlift-wordpressgatsby]/[prettier]/parser-graphql.js:1:346

  - parser-graphql.js:1 Object.parse
    [sellerlift-wordpressgatsby]/[prettier]/parser-graphql.js:1:54924

  - index.js:11370 Object.parse
    [sellerlift-wordpressgatsby]/[prettier]/i

[2020-07-26 03:24] #80 closed

[2020-07-26 03:28] TylerBarnes commented on #91
Hi @MussadiqKhan , it's hard to tell what could be causing this from your description. It's odd because somehow there seems to be a random `100` int added to the middle of the query 🤔
If you're able to share a reproduction repo I can get this fixed for you.

Thanks!

[2020-07-26 03:37] #42 closed

[2020-07-26 03:40] TylerBarnes commented on #49
Upgrade to `gatsby-source-wordpress-experimental@1.1.1` for a fix :)

[2020-07-26 03:40] #49 closed

[2020-07-26 03:41] TylerBarnes commented on #42
Upgrade to `gatsby-source-wordpress-experimental@1.1.1` for a fix! :D

[2020-07-26 05:11] TylerBarnes commented on #76
Ahh, sorry about that, wp-graphql-woocommerce adds this `products` field as well so I assumed you were using it. And coincidentally that project errors on this exact same field 😆

I will have another look at this, thanks for the clarification!

[2020-07-26 07:06] MussadiqKhan commented on #91
Here's the starter repo I am using. I have just updated the site url in gatsby config.

Repo: https://github.com/MussadiqKhan/sellerlift-wordpressgatsby

[2020-07-26 10:11] benknight opened #93 "Caching plugin breaks pagination: "On first run gatsby develop is fetching Comment nodes indefinitely""
Here's my console output:

[code]

I let the script run for about 80 minutes before exitting it. It fetched over half a million comment nodes. Yet my database only has around 6,593 records in the wp_comments table.

How should I go about debugging this?

[2020-07-26 15:58] TylerBarnes commented on #93
Hi @benknight , thanks for opening this issue. Usually this is due to some plugins on the WP side that are breaking WPGraphQL pagination, but it may also be due to a bug in the source plugin. Can you share your /graphql endpoint url with me via email so I can take a look? My email is tyler@gatsbyjs.com

Thanks!

[2020-07-26 16:03] renatoruk commented on #76
Yes, definitely a very similar scenario!

Awesome, looking forward to it 🥇

[2020-07-26 17:18] imranhsayed commented on #49
Thank you so much @TylerBarnes 🙏
Works like a charm, after the update ❤️ . I really appreciate it 🤩

[2020-07-26 18:49] TylerBarnes commented on #49
Glad to hear it :D let me know if you run into anything else :)

[2020-07-27 02:25] imranhsayed commented on #49
Sure I will . Thank you!

[2020-07-27 08:20] philmuze commented on #78
Had the same issue. With the update to the current version 1.1.1 it's working again.

[2020-07-27 15:18] philmuze opened #95 "Search and replace for links"
Hi guys, really great work with this new version of the plugin. This pairing with the wpgraphl-plugin is awesome. I'm currently working on a migration to v4 for my project. One thing I used there a lot was the search and replace functionality for links - see [here](https://github.com/gatsbyjs/gatsby/pull/3498/files/cfe0d9d48fc5f29053e91b80c1e20e6c2f62924f). Do you have any plans to integrate this

[2020-07-27 15:22] mattdabell commented on #42
Thanks @TylerBarnes ! Looking good.

[2020-07-27 15:36] woodwoerk commented on #77
No errors when querying now, but I'm only getting `null` for the `email` field for all users (running 1.0.14)

@TylerBarnes should this be reopened?

[2020-07-27 16:20] TylerBarnes commented on #91
Hi @MussadiqKhan , I discussed this with @jasonbahl and the issue here is that GraphQL typenames and field names cannot start with numbers (as per the GraphQL spec). See this issue for more information https://github.com/wp-graphql/wp-graphql/issues/1346#issuecomment-650270026

So in this case the problem is that you have a template called `100WidthTemplate` which is invalid in GraphQL. In the lin

[2020-07-27 16:35] TylerBarnes commented on #95
Hi @philmuze , thanks for opening this issue. The plugin currently auto-replaces any links to the frontend of the WP site. `https://your-wp-site.com/sample-page` is automatically rewritten to `/sample-page`. These links are then automatically caught browser-side and cause a client navigation when clicked instead of a full reload. See this docs page for more info https://github.com/gatsbyjs/gatsby-

[2020-07-27 17:00] TylerBarnes commented on #77
@woodwoerk , email is a private field in WPGraphQL, are you filtering it to be public? You can test this using a GraphQL client besides wp-graphiql (which is authenticated) like GraphQL playground or Graphiql. When you use one of those to query do you see an email returned?

[2020-07-27 17:02] TylerBarnes commented on #78
Good to hear @philmuze , I believe this issue was originally that the preview API in WPGQL changed substantially and my initial updates to work with that change didn't work as well as I thought. @hazuremon , are you able to update to the latest and check if it's working for you?

[2020-07-27 17:06] TylerBarnes commented on #84
@robmarshall which versions of WPGraphQL and gatsby-source-wordpress-experimental are you on?

[2020-07-27 17:10] robmarshall commented on #84
Hi Tyler, it is strange as it doesn't work on my staging site branch, but does work on master. Each one of these is a Gatsby Cloud site.

WPGraphQl WordPress plugin is 0.10.3
WP Gatsby WordPress plugin is 0.4.14

[2020-07-27 17:49] mattdabell opened #96 "Woocommerce product categories: only top level is returned with no children"
Hi,

There's a problem with product categories which seems to be on the gatsby side, related to taxonomy hierarchy. Essentially only the top level product categories are pulled through, and when you try to query their children, you get an empty array.

When I do the following query in playground:

[code]

I get all of the categories, regardless of where they sit in the category hierarchy. Also, ch

[2020-07-27 17:54] TylerBarnes commented on #84
Thanks for the update @robmarshall ! When it doesn't work what do you see? If it's a 404 page can you try hitting refresh once the preview template loads and see if the preview appears?

[2020-07-27 17:58] hazuremon commented on #78
Hi @TylerBarnes, I have just test it with the following setup, but behaviours remain the same for both draft and published posts.

gatsby-source-wordpress-experimental: 1.1.1
wp-gatsby: 0.4.14
WP: 5.4.2
WP GraphQL: 0.10.3
Gatsby CLI version: 2.12.66
Gatsby version: 2.24.11

[2020-07-27 17:59] philmuze commented on #95
We used this to serve our images from the CDN. Our backend is hosted with Pagely and they have this nice CDN feature for media files, which will be automatically uploaded to the CDN. The search and replace option was pretty straight forward to serve the images from the CDN. We skipped the gatsby image integration in this case.

[2020-07-27 18:13] robmarshall commented on #84
I get either:
directed to the CMS homepage
directed to /wp-admin/post.php that then redirects to the correct URL, and then timeout or a white screen with ECCONNREFUSED
OR: it works.

[2020-07-27 19:54] bogdancss commented on #88
Hey @TylerBarnes  -  I've sent earlier today.

I have simply spun up the starter provided in the examples (gatsby new wordpress-gatsby https://github.com/TylerBarnes/using-gatsby-source-wordpress-experimental) and replaced the url in gatsby-node with our Wordpress graphql one.

[2020-07-28 00:13] TylerBarnes commented on #78
Hi @hazuremon , I just ran into this as well on WPE hosting. It looks like they add `define( 'WP_POST_REVISIONS', FALSE );` by default which should store 1 autosave and allow preview to still function. But there may be a WPGraphQL bug that prevents preview from working in this situation. I was able to get it working by removing that line (`define( 'WP_POST_REVISIONS', FALSE );`) from `wp-config.ph

[2020-07-28 00:15] TylerBarnes commented on #84
Hi @robmarshall I just ran into some preview troubles as well. Can you check this comment and see if it solves it for you? https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/78#issuecomment-664702498

I'm currently working on surfacing this to the admin preview template with steps on fixing this if revisions are disabled.

[2020-07-28 00:52] TylerBarnes commented on #88
Hi, thanks for sending that over! I just had a look and the reason is that you've added an http url but your server is hosted on https. Once you change that url to `http://yoursite.com/graphql` it will get a little further. It appears you have a firewall which is preventing GraphQL requests. You'll need to whitelist the `/graphql` endpoint (or your IP) to allow sourcing from your site. It looks li

[2020-07-28 00:52] TylerBarnes commented on #88
I'll see what I can do about providing a more helpful error message around http vs https 🤔 . Thanks for bringing this to my attention!

[2020-07-28 00:55] TylerBarnes commented on #95
Interesting, I can see this being valuable for sure. Thanks for elaborating!

[2020-07-28 01:01] TylerBarnes commented on #95
I've added this to my todo list but if there's anyone that'd like to help out check this line https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/src/steps/source-nodes/create-nodes/process-node.js#L613

Here we have a list of "nodeStringFilters". We need to add a third one "findAndReplace". Within this new filter we should check plugin options for `options.findAndReplace`

[2020-07-28 01:05] TylerBarnes commented on #91
Actually, I think it would also be good to fail the build if a typename or fieldname start with an integer so I'll reopen this as a ticket for improved error messaging here.

[2020-07-28 01:27] TylerBarnes commented on #83
Upgrade to `gatsby-source-wordpress-experimental@1.2.0` for more Date fields :)

[2020-07-28 01:27] #83 closed

[2020-07-28 07:46] woodwoerk commented on #77
Oops, my bad! I definitely wasn't making this public. Working as expected after adding a filter, thanks!

[2020-07-28 17:48] TylerBarnes commented on #76
@renatoruk this is expected behaviour actually! You have your CPT set to private `"public" => false` so this CPT is not publically queryable. Which means Gatsby does not have it. When you debug queries it's best to not use `wp-graphiql` as it's queries are authed and Gatsby isn't. So when I register your CPT, I see this in wp-graphiql:

[code]

And in GraphQLPlayground (unauthenticated):

[code]

[2020-07-28 17:48] #76 closed

[2020-07-28 20:12] hazuremon commented on #78
Thanks @TylerBarnes.

I have test it locally using ngrok debugging setup and got the draft preview to work, but came across another behaviour.

On draft post, the first preview request will return with a 404 error, only when the second preview request will be able to return with preview.

For published post, the first request will return a preview without any published changes, only with second pr

[2020-07-28 21:59] TylerBarnes commented on #48
Hi @nunof07 , can you update to the latest `wp-graphql-acf` and let us know how it went? This should work now :)

[2020-07-28 22:08] TylerBarnes opened #97 "Feat: Improve Preview experience"
Currently Preview can be problematic for a couple reasons.

1. WP doesn't know when the previewed node's page has been rendered. This results in 404'ing previews occasionally. It also means brand new draft posts require 2 RTE's instead of 1 which is more costly for users.
- We should add a new endpoint in Gatsby `/__wpgatsby-preview` so WP can subscribe to updates for pages created by a certain no

[2020-07-28 22:08] TylerBarnes commented on #78
@hazuremon this 404 bug is a known issue that I'm working on. The problem is that WP doesn't know wether the preview page has been created or not yet. To get around this for now, opening a new draft will send an empty preview, then hopefully by the time you've actually pressed "preview", that preview page has already been created and isn't a 404.

I'm working on adding a new endpoint to Gatsby `lo

[2020-07-28 22:09] TylerBarnes commented on #78
I'll keep this issue open for now, but it appears this is an upstream WPGQL bug. Anyone else who has this issue can follow the steps above until https://github.com/wp-graphql/wp-graphql/issues/1408 is resolved.

[2020-07-28 22:35] TylerBarnes opened #98 "Feat: substantially decrease build times by only fetching data that's queried for"
Right now in the source plugin we generate queries for all possible node types and fields, and then fetch all data we possibly can. This is necessary for `gatsby develop` but in `gatsby build` we already know all the node types and fields that were queried for by devs. What this means is in production builds we can just fetch data that will actually be used.

The way it will work:
- While transfor

[2020-07-29 07:36] renatoruk commented on #76
Oh, I see! 🤯

Then, your update in the docs related to these authentication specifics explains it out pretty well!
I'll use https://github.com/prisma-labs/graphql-playground from now on. Thanks a lot for your help, appreciate it!

[2020-07-29 18:13] TylerBarnes opened #99 "Inconsistently failing media file downloads"
From @GarryBurch in the WPGraphQL slack:

[code]

Gatsby info:

[code]

This is for another one of our clients - just started this morning
WP Gatsby v0.4.14
WP GraphQL v0.10.3
Each build attempt will have a different asset as the source of the bad request - As seen with provided link the urls are good - been working for the past 2 months as we have been building it out....

[2020-07-29 18:54] 0aveRyan opened #100 "Inline Image Processing: Allow for Shared Options for Sharp Fluid Query"
https://www.gatsbyjs.org/packages/gatsby-plugin-sharp/#shared-options

It'd be great to be able to pass a single object to configure sharp to the `html` pluginOptions  with `toFormat` and `traceSVG` in particular.

[2020-07-29 21:03] TylerBarnes commented on #76
Glad to hear it was helpful :) let me know if you run into anything else. BTW @jasonbahl and I have been talking about improving wp-graphiql to make this less problematic. Maybe by adding something like a toggle switch for authed vs not authed.

[2020-07-29 21:50] TylerBarnes commented on #99
So the issue here is that this WP instance is protected with htaccess auth. The source plugin has a built in option for sending htaccess headers but the issue is that these media items are hosted on s3 and to s3 sending these htaccess headers resulted in a "malformed auth headers" error. The solution was to first check if the media item url has the same hostname as the WP instance before adding th

[2020-07-29 21:50] #99 closed

[2020-07-29 21:50] TylerBarnes commented on #99
For reference https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/http-400-bad-request.html

[2020-07-30 02:54] emaildano opened #101 "Document why "WPGraphiQL queries not matching Localhost GraphiQL""
Is it normal for queries within the WordPress Dashboard using GraphiQL not to match the localhost version? When I run into errors I hop into WP for testing but the names don't match so it leaves me guessing.

`wpPost` vs. `post`

Thanks!

![Screen Shot 2020-07-29 at 10 51 19 PM](https://user-images.githubusercontent.com/1872327/88875019-75fa9700-d1ee-11ea-9c5d-0ebb029e5590.png)

![Screen Shot 2020

[2020-07-30 07:13] renatoruk commented on #76
That sounds awesome! I think it would make a big difference if the user has the ability to toggle the authentication from there, especially for the users getting familiar with the whole Gatsby + WP stack.

It would also remove the need to use of alternative graphql client. :)

[2020-07-30 09:56] lnikell commented on #54
@TylerBarnes Thank you for the feedback. I don't know very well how Gatsby Preview works, but I will try to explain my use case, and maybe it will give some useful information.

When I use WP as a data source, I don't need WP frontend at all and to prevent any security issues I completely disable access to that WP instance or by having basic auth or ip whitelisting, or in case of previous WordPres

[2020-07-30 11:22] mgrubiak opened #102 "Is there a way to get the post specific css created by Elementor?"
Hallo :)

Is there actually a way to get back the css Elementor is creating for specific posts?

File src:
`https://domain/wp-content/uploads/elementor/css/post-{POSTID}.css`

File content:
`.elementor-5216 .elementor-element.elementor-element-03b5e81 .elementor-spacer-inner{height:20px;}.elementor-5216 .elementor-element.elementor-element-3156738{text-align:center;}.elementor-5216 .elementor-elem

[2020-07-30 14:01] mattdabell opened #103 "Woocommerce: filters work on some products but not others"
Hi,

I noticed that queries on products are quite hit-and-miss. Sometimes they work, other times no result is returned.

Not working despite the product clearly existing:

<img width="950" alt="Screenshot 2020-07-30 at 14 55 59" src="https://user-images.githubusercontent.com/12656149/88931859-46db3880-d275-11ea-8855-8c25d2d1bc69.png">

Working as expected if I select a different ID:

<img width="9

[2020-07-30 16:25] TylerBarnes commented on #54
Thanks for elaborating! I can see why this is desireable, but I think using JWT for this is the wrong choice.

Using JWT means all of your private data will be public via Gatsby when Gatsby authenticates and pulls all this data into it's own GraphQL server. Gatsby site data should be considered public data because that data can be statically rendered into a site which has no authentication or auth

[2020-07-30 16:32] TylerBarnes commented on #54
To add one more thing to this, the best way to pull private data is in-browser (using JWT) by allowing a specific user to authenticate/authorize as themselves. And JWT/Gatsby work great in that context. If you have specific fields which you want Gatsby to have access to you'll need to explicitly filter them in WP to be treated as public, for example if you want User nodes email fields to be public

[2020-07-30 17:28] TylerBarnes opened #104 "Improve DX around `gatsby develop` delta checker failures"
Currently if WP goes down while Gatsby is running, it will fail the build. This is annoying for developers but even worse for Preview instances as it will fail their build.

[2020-07-30 18:20] nunof07 commented on #48
Hey @TylerBarnes , I can confirm this works now on my end 👍 .

Thank you @TylerBarnes @jasonbahl !

[2020-07-30 18:20] #48 closed

[2020-07-30 21:29] Kallirroi commented on #101
I would love to hear what others have to say but I thought it's because of schema merging: https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/features/schema-merging.md

[2020-07-31 01:36] TylerBarnes opened #105 "the DELETE wp node action can fail if a node type is excluded"
This is because there is no saved type info for it and this action relies on that saved type info. It's actually not needed to check this type info so bypassing that will fix this potential bug.

[2020-07-31 14:13] emaildano opened #106 "Sorting by menuPosition query is longer than expected"
This is probably a simple answer but I'm curious if sorting by field `contentType___node___menuPosition` is a query that normally takes a long time?

Here's the query I run:

[code]

If I remove the sort by menu position filter the results are instant but with the sort filter added it takes ~30s. While I'm running that query this also appears in the terminal window.

[code]

The query does return

[2020-07-31 14:27] Kallirroi commented on #102
I think you can get that with this query:
[code]

[2020-07-31 14:50] mgrubiak commented on #102
Unfortunately it is not set for me.
I checked under posts -> nodes and posts -> edges -> node but can't find anything saying "Stylesheet"

[2020-07-31 19:45] AndrewTraub opened #107 "Aborts connection to wordpress with non-sensical error"
I've tried fetching data from both my website and a local installation.
I've verified that WPGraphQL and QPGatsby are installed and working.
With a starter project and only the experimental plugin added, I get the following when trying to run gatsby develop:

success open and validate gatsby-configs - 0.054s
success load plugins - 1.879s
success onPreInit - 0.015s
success initialize cache - 0.025s

[2020-08-02 00:55] TylerBarnes commented on #107
Hi @AndrewTraub , have you tried following the recommendation in the error?
This is usually caused by
- WPGraphQL not being activated
- Your url is https but you entered http (or vice versa)
- Your url starts with www

If you visit http://site.local/graphql do you see a JSON response like this?
[code]

[2020-08-03 17:02] AndrewTraub commented on #107
Yes, as I mentioned, it appears to connect and run quite a bit (saying many times "fetching nodes - 7 total" and then "success ... UrserRole - 19.101s - fetched 0" and "success ... Taxonomy - 20.272s - fetched 3" and then throws the error.

I have connected to the site using Postman and successfully made a query with Postman to WPGraphQL, so I don't think it's my setup.

After the error, I am also

[2020-08-03 20:46] kalebheitzman opened #108 "Local by FlyWheel and No Schema Available"
I'm running Local by FlyWheel and there is no schema available in the explorer under /___graphql.

The only error I'm getting in the console is:

[code]

Using the 2 included plugins in the starter instead of the git versions (and upgraded wp-gatsby under plugin admin).

I get a few dev warnings as well:

[code]

[2020-08-03 21:29] kalebheitzman commented on #108
An update: I'm able to access the schema in GraphQL playground but the default http://localhost:8000/___graphql schema is not working.

[2020-08-03 21:40] kalebheitzman commented on #108
Last bit of info that might be useful. I added this to my package.json file. Still no schema coming through but it does work in the stand alone GraphQL Playground App.

[code]

[2020-08-04 02:09] lqze commented on #108
Adding to this, noticed this exact same issue as well but did not look further into it.

I get the same ```
warn Warning: Empty string transition configs (e.g., `{ on: { '': ... }}`) for transient transitions are deprecated. Specify the transition in the `{ always: ... }` property
[code]

[2020-08-04 15:21] TylerBarnes commented on #107
Ah, I see that now, it's a bit hard to read your logs when they're unformatted. Heads up, if you add 3 backticks above and below your output it'll put it in a formatted box like this 👍
[code]

Can you share your GraphQL endpoint with me and/or a reproduction repo of this issue? If you want to keep your endpoint private my email is tyler@gatsbyjs.com

Thanks Andrew!

[2020-08-04 17:15] AndrewTraub commented on #107
I sent you an email with the public facing WPGraphQL link.

[2020-08-04 21:54] hazuremon commented on #78
I reached out to WPE support, they mentioned the setting `(define( 'WP_POST_REVISIONS', FALSE );)` will get added back once the site gets regenerate on their end (daily I was told). They suggest to set revision to 1, so that it won't be removed.

@TylerBarnes Preview works on WPE once revision is set with one.

[2020-08-04 22:37] TylerBarnes commented on #104
Fixed via https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/pull/109
Published in `gatsby-source-wordpress-experimental@1.2.4`

[2020-08-04 22:37] #104 closed

[2020-08-05 11:36] MussadiqKhan commented on #107
Hey @TylerBarnes ,

I am also facing the same issue. Would you mind taking a look at my repo? Should I email you the details?

[2020-08-05 20:10] antarr opened #110 "Get stylesheets and scripts from API."
Previously I've used the graphpql API to get stylesheets and scripts for a give page or post. Is it possible with this approach?

***Query for Previous Attempt***
[code]

***Layout Component***
[code]

[2020-08-05 21:46] TylerBarnes commented on #107
@MussadiqKhan that would be helpful! Thank you :)

[2020-08-05 21:47] TylerBarnes commented on #78
@hazuremon thanks for letting us know, that's great info. We should get this fixed in WPGraphQL core soon so it's not an issue

[2020-08-05 23:49] TylerBarnes commented on #107
Hi @AndrewTraub I had another look at your site and it appears that after some number of requests your server returns html as a response. When I render this html in a browser it appears to be a regular page from your WP instance. It seems like something is randomly filtering requests and returning html based on something. This may be as a result of Wordfence intercepting requests or something else

[2020-08-06 00:11] TylerBarnes commented on #107
I believe this is a problem with some filters for specific posts in a WordPress plugin or theme.

@MussadiqKhan I just used your endpoint to debug and I see the following being returned with the GraphQL response:

<img width="1036" alt="Screen Shot 2020-08-05 at 5 08 57 PM" src="https://user-images.githubusercontent.com/14190743/89476045-85259b80-d73e-11ea-9382-fe2583b3be36.png">

I'm not sure if

[2020-08-06 00:12] TylerBarnes commented on #107
@jasonbahl might have advice on a workaround but in the meantime I'm modifying the error message here and adding a debug option to help with debugging.

[2020-08-06 00:29] TylerBarnes commented on #107
@MussadiqKhan FYI the page that's causing the issue has an id of 4031 and the filter is on the post content.

[2020-08-06 00:45] TylerBarnes commented on #107
@AndrewTraub it appears one of your pages is redirecting to another page any time that page is accessed in WP. It seems like there's something wrong with the method of redirection here as the redirect seems to be happening when the page is accessed and it should instead happen when the page is visited in a browser.

[2020-08-06 02:01] TylerBarnes commented on #107
If you upgrade to `gatsby-source-wordpress-experimental@1.2.6` you'll both now see more helpful error messages.

@AndrewTraub you'll see an error about the GraphQL request being redirected.
@MussadiqKhan you'll see an error about a PHP filter adding additional output to the GraphQL request.

In both cases I've added some info about how to proceed with debugging the issue. This isn't a bug with thi

[2020-08-06 02:01] #107 closed

[2020-08-06 11:29] BadGoat commented on #16
It seems this issue is back in newer versions. Using any version up until `1.2.0` (including) - no problem. Using version `1.2.1` and above it return a 401 when trying to fetch a MediaItems from the server (WPEngine in my case):

[code]

Any thoughts on this?

[2020-08-06 12:25] rodrigo-arias commented on #16
Yesterday I updated the plugin and got this error a few times, it was somewhat inconsistent. Finally I didn't report it because it seems to have disappeared but I'm not entirely sure. I also use WP Engine.

[2020-08-06 16:59] mattdabell commented on #103
This could potentially be something to do with the product type. It seems like variable products can be queried but simple products cannot.

[2020-08-06 17:00] nunof07 opened #111 "Add helper to check if types and fields exist so that plugins can conditionally run logic based on WPGQL extensions that might not be active sometimes"
On the WordPress side, I'm using ACF and I have an options page created with some custom fields.

Everything works properly when these fields exist/have values in them. I can query them with no issues.

But I want to guard against non-existing/empty fields, so I'm trying to extend the GraphQL types.

I've tried many variations, but I can't seem to get this to work. I don't know if it's an issue wi

[2020-08-06 21:43] TylerBarnes commented on #16
Ahh, 🤔 you know there was a release recently which changes things to only add the auth headers if the domain for the request is the same as the domain of the file request. I think I know what's going on here and should have a fix for this shortly

[2020-08-06 21:44] nunof07 commented on #111
I kinda got it half-working with this absolute `createResolvers` monstrosity, _in addition_ to the `createTypes` above.

[code]

Although this only works  for the first level (`scripts` is null), so I must be typing something wrong.

But I feel this shouldn't be needed.

[2020-08-06 22:02] TylerBarnes commented on #16
I released a bug fix in `gatsby-source-wordpress-experimental@1.2.7`. Sorry for this regression! I have it near the top of my todolist to write comprehensive int tests for images & images in html. The current tests are lacking here. Closing this but please let me know if you run into other problems! I manually tested this using htpass on WPEngine and it looked like it works great 👍

[2020-08-06 22:02] #16 closed

[2020-08-06 22:09] rodrigo-arias commented on #105
Hi @TylerBarnes

I am using https://github.com/GatsbyWPGutenberg/gatsby-wordpress-gutenberg and I get this error only in the build process. I could not identify what it is, but I just want to know if you refer to this error in this issue.

![image](https://user-images.githubusercontent.com/11416255/89587449-04d36900-d818-11ea-9f56-55a13f50ef89.png)

Thank you

[2020-08-06 22:26] Nazeh commented on #16
Worked like a charm, finally, I can actually test how much work would this be :)

[2020-08-06 22:59] TylerBarnes commented on #111
Hi @nunof07 , you shouldn't need to do any schema customization for this plugin as long as the fields exist in WPGraphQL. Do you mean that you want `externalScripts` to exist in Gatsby wether or not it exists in WPGraphQL?

[2020-08-06 23:32] TylerBarnes commented on #110
Hi @antarr ,
thanks for opening this issue. It's not yet possible for these types to work in the source plugin. The problem is that there's no way to get all of these kinds of nodes in a list so there's no current way to fetch them reliably.
Currently the way this plugin works is it will fetch all nodes that are available to fetch in lists, then anywhere where there is a connection from one type t

[2020-08-06 23:43] TylerBarnes commented on #108
The `warn Warning: Empty string transition configs (e.g., { on: { '': ... }}) for transient transitions are deprecated. Specify the transition in the `{ always: ... }` property` warning was fixed in a recent version of Gatsby core and is unrelated to this issue.

I'm able to reproduce the schema issue locally. I'm debugging now and I'll keep yall updated on what I find.

Thanks for opening this is

[2020-08-07 00:12] TylerBarnes commented on #108
So this is either a Gatsby core bug or a GraphQL playground bug. Essentially what happens is Gatsby generates a filter input for the WpContentNode type so that you can filter for nodes that have a specific user that last edited that node. That's great and works well. For example this works:

[code]

The problem here is that the input type `WpContentNodeToEditLastConnectionEdgeFilterInput` has no f

[2020-08-07 00:12] #108 closed

[2020-08-07 00:17] TylerBarnes commented on #106
That's really odd 🤔 when I run it it resolves immediately. Are you able to share the /graphql endpoint of the site that has this issue? That'll help me understand what's going on.

Thanks!

[2020-08-07 00:19] TylerBarnes commented on #103
Interesting, this definitely seems like a bug. Are you able to share a /graphql endpoint that has this issue so I can debug?

Thanks!

[2020-08-07 00:22] TylerBarnes commented on #101
Ah, yeah this is indeed because of schema merging. Essentially what happens is that the source plugin automatically consumes the WPGraphQL schema and automatically creates a brand new schema from the data returned and from the original schema. While doing this it mixes the Gatsby node model schema with the WPGraphQL schema. This means we get proper caching and inc builds support as well as all the

[2020-08-07 00:24] TylerBarnes commented on #100
I agree 100%, we'll definitely be adding this as an option after the first stable release. Thanks for suggesting this!

[2020-08-07 00:31] TylerBarnes commented on #102
Hi @mgrubiak , I followed up in this issue about why this isn't currently available https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/110

Your issue was opened first but since I've already written a longer explanation in the other issue I'm going to close this one as a duplicate. If you click to follow that issue you'll get updates on when this will be available in this plug

[2020-08-07 00:31] #102 closed

[2020-08-07 08:34] nunof07 commented on #111
Hey @TylerBarnes , thanks for the reply.

Yes, ideally I'd like to protect against the custom fields not existing breaking the Gatsby site (might not be added/enabled yet in WP).

With the approach above, I can kind of do it, but seems very hackish. My assumption would be that `createTypes` should be enough for this type of task, but I'm not sure. It seems like the types declarations are not "merg

[2020-08-07 09:40] mattdabell commented on #103
Hi @TylerBarnes, can use the same endpoint I've emailed you previously :)

[2020-08-07 12:58] mikedloss opened #112 "Where are my ACF fields?"
I'm relatively new to Wordpress and development surrounding it. I have ACF and the 2 Wordpress plugins installed on my backend, I have gatsby-config set up to look at my Wordpress instances' graphql endpoint. I am able to query successfully to get data from it. But I don't see any of my ACF data in GraphiQL. I've searched by field name, looked through many fields, but just can't find any of my ACF

[2020-08-07 14:04] stefanmomm commented on #112
Did you install the [WPGraphQL for Advanced Custom Fields](https://www.wpgraphql.com/acf/) plugin?

[2020-08-07 14:18] pepijn-vanvlaanderen opened #113 "GraphQL query for filtering menuItems on wpMenu not working"
I am trying to query all the top level menu items. Within WPGraphiQL this works, but in the Gatsby GraphiQL it does not work. Below the sample queries I used.

WPGraphiQL plugin query:
[code]

Which indeed returns only top level menu items.

Gatsby GraphiQL query:
[code]

Which returns all items including sub items.

[2020-08-07 14:53] jacobarriola commented on #57
@TylerBarnes I haven't forgot about this. Will take a stab at it this weekend.

[2020-08-07 15:20] mikedloss commented on #112
@stefanmomm I actually didn't know that was a plugin, so I just installed / activated it, and I see it now as a field in my node. Thank you!

[2020-08-07 15:20] #112 closed

[2020-08-07 23:59] TylerBarnes commented on #111
Hi @nunof07 , this is an irregular use case but what you can do is snapshot your schema using this plugin
https://www.gatsbyjs.org/packages/gatsby-plugin-schema-snapshot/

I haven't tested it myself as the intention behind this plugin is to as accurately as possible mirror the WPGraphQL schema (so fields should dissappear when removed from WPGraphQL) but it may work for you.

I think manually writ

[2020-08-08 00:02] TylerBarnes commented on #105
Hi @rodrigo-arias , I believe you're having a different issue than what this one is describing. This one happens during delta updates in gatsby-node.js and doesn't make it to the browser. It's hard to say what your issue could be without additional info or a repro 🤔

[2020-08-08 02:00] rodrigo-arias commented on #105
Thanks for your reply. It looks like a `gatsby-source-wordpress-experimental` issue with static query. I have reported it here https://github.com/GatsbyWPGutenberg/gatsby-wordpress-gutenberg/issues/47, of course you are welcome if you have a chance to try it, I'm not sure how to identify it. Thanks again

[2020-08-08 08:29] lqze commented on #108
I know this Issue is closed, however updating my Gatsby version to latest fixed this for me.

[2020-08-09 07:07] BadGoat commented on #16
Yep, seems to work now. Thanks @TylerBarnes!

[2020-08-09 08:01] benknight commented on #93
I'm still having issues here. Is there a recommended way to debug network requests? I've tried things like Charles Proxy and the Node debugger with no luck.

[2020-08-09 16:40] benknight commented on #93
I was able to determine that this was being caused by caching being done by the SG Optimizer plugin. Basically the server was returning the same cached page of nodes result regardless of pagination variables.

[2020-08-10 07:57] DesignerKnowsFrontEnd opened #115 "As anyone been able to get post by ID?"
I'm having issues with querying the post template to find the individual post I've tried by filtering by ID and and using the old way getting the post ID but now of those methods seem to work.

Also tried looking for more documentation but seems it hasn't been updated yet.

tried:

query post {
  wpPost(id: {eq: "$ID"}) {
    uri
    title
    date
    id
  }
}

And

  query post($id: ID!) {
    w

[2020-08-10 14:17] nunof07 commented on #111
The thing is that the schema will be different depending on what you have installed on WordPress (e.g. custom options pages, Yoast SEO), so the core types are not enough.

I have a couple of different uses cases that are related to this issue.

In the first use case, I'm building a set of companion WP/Gatsby plugins that I want to be able to install in different sites. On the WP side, the plugin j

[2020-08-10 15:37] nunof07 commented on #111
Regarding the second issue, I was able to create a resolver that at least returns an empty value, so it no longer breaks the site.

[code]

But in any case, the actual value should be appearing, because it appears in WP GraphiQL. I will see if I can query the data with a standalone GraphQL IDE outside WP.

[2020-08-10 15:52] nunof07 commented on #111
OK, I can query the `cardType` field successfully outside WordPress using GraphQL Playground.

And using these options:

[code]

I can confirm that the field does not appear anywhere in the queries. So for this particular field, I'm not sure where the problem lies, because the field appears correctly in the GraphQL from WP. Is the issue in this source plugin or in WP plugins for GraphQL/Yoast?

[2020-08-10 18:35] TylerBarnes commented on #108
That's great to hear, thanks for the update @lqze !

[2020-08-10 18:51] TylerBarnes commented on #115
Hi @DesignerKnowsFrontEnd ,
you're really close! The correct syntax is a mix of the two.

[code]

Then you need to pass in `id` to pageContext when you create pages.

[2020-08-10 18:51] #115 closed

[2020-08-10 22:57] TylerBarnes commented on #79
This is fixed in `gatsby-source-wordpress-experimental@1.3.1`

[2020-08-10 22:57] #79 closed

[2020-08-10 23:23] robmarshall opened #116 "Preview not working on posts with names different to template name"
I have a custom post type set up, called 'template'. There are then e a number of posts under this type.

It seems that if the post itself is called 'template' the preview feature renders without any issues.

If the post is named anything else, Gatsby tries to look for a JS template under that posts name. e.g. If the post is called 'how-to-gatsby' Gatsby looks for '/foldername/how-to-gatsby.js'

H

[2020-08-11 00:55] TylerBarnes commented on #57
A fix is published in `gatsby-source-wordpress-experimental@1.3.3`. Thanks @jacobarriola !

[2020-08-11 00:55] #57 closed

[2020-08-11 06:19] DesignerKnowsFrontEnd commented on #115
Agh ok,

Does that work when testing it in the graphiql ui? as that may have been the reason why i think it wasn't working.

Thanks anyways.

[2020-08-11 09:49] SilencerWeb opened #117 "Feature request: "Not all media is being fetch from the WordPress server", add option to source unreferenced media items"
We have 44 media items in our WordPress server but only 35 are being fetched to frontend.

The strange thing that some of the missing images were fetched before but stopped after a few more uploads to Media Library in WordPress. My guess is that `gatsby-source-wordpress-experimental` is somehow trying to analyze which images are being used and which are not so it could fetch only the ones that are

[2020-08-11 14:07] TylerBarnes commented on #115
It does :) You have to make sure to add some JSON to the "query variables" section in the bottom left.
So in this case you would add something like:

[code]

[2020-08-11 14:11] TylerBarnes commented on #93
Ah, interesting 🤔 Seems like this plugin should protect against that. To repro do I just install SG Optimizer and run a build?

[2020-08-11 15:39] oliverfeher opened #118 "Cannot read property 'pages' of undefined - ERROR"
Hey, I was wondering if anybody has gotten this error when running `gatsby develop` ?

[code]

This is my current `gatsby-config` with enabled `debug options`:

[code]

[2020-08-11 16:31] kalebheitzman commented on #108
So the starter listed in the tutorial had Gatsby set to a an older version of Gatsby. I see it's updated over in the repo. I updated mine to the latest version of Gatsby and everything is working fine. Is it best practice to set a specific version of Gatsby vs specifying a minimum version of Gatsby? Thanks for all the helpful info!

[2020-08-11 19:08] oliverfeher commented on #118
I also fried up a fresh project with `gatsby new wordpress-gatsby https://github.com/TylerBarnes/using-gatsby-source-wordpress-experimental` and replaced the default URL to mine like this:

{
      resolve: `gatsby-source-wordpress-experimental`,
      options: {
        url:
          process.env.WPGRAPHQL_URL ||
          `https://dev-mattressadvisor.pantheonsite.io/graphql`,
        verbose: tr

[2020-08-12 00:16] TylerBarnes commented on #118
Hi @oliverfeher !
Thanks for your patience on this. I just had a look and it seems to be the same error we talked about a few weeks back. The page with an database id of 608 has a filter on the post content which is causing WPGraphQL to return an empty string.

You can make this query via Graphiql (directly to yoursite.com/graphql) to see this problem

[code]

If you query for content it causes th

[2020-08-12 00:19] TylerBarnes commented on #118
For now you can get your build running with this config:

[code]

[2020-08-12 00:33] #118 closed

[2020-08-12 06:25] DesignerKnowsFrontEnd commented on #115
Hey Tyler ,

Thanks but im still having issues with it as I have this error now

D:\Work\Gatsby_Lellos_github\src\templates\post.js
  6:13  error  Variable "$id" of type "ID!" used in position expecting type "String"  graphql/template-strings

✖ 1 problem (1 error, 0 warnings)

File: src\templates\post.js

failed Re-building development bundle - 0.262s.

here is my query:

} export const query = g

[2020-08-12 07:28] ashhitch commented on #111
@nunof07 thanks for reporting this I wonder if this relates to it being an enum type?

[2020-08-12 12:37] nunof07 commented on #111
Makes sense, I don't have issues with the other fields from the SEO plugin. Although I don't know the inner workings of the source plugin, so @TylerBarnes can probably clarify this part.

[2020-08-12 18:12] TylerBarnes commented on #111
That sounds like a bug indeed. @nunof07 can you open an issue separate from this one to track that? I want to try to avoid combining too many problems into 1 issue to keep things focused.
For the problem of only running code if Yoast is active, the best way forward is to use introspection to determine wether the relevant fields or types are registered and then only add your code if they are. I've

[2020-08-12 18:18] TylerBarnes commented on #115
Hey again, the problem here is at the top of the error message:
`6:13 error Variable "$id" of type "ID!" used in position expecting type "String" graphql/template-strings`

What you want to do is type the $id variable as a String
[code]

[2020-08-12 18:24] TylerBarnes commented on #108
@kalebheitzman minimum version is definitely better practise. I think it was an oversight on my part where I accidentally set a specific version but it should be fixed now 👍

[2020-08-12 19:37] emaildano commented on #106
I think so. I'm working on another issue now, once that's resolved I'm back on site development. I'll test again and if it's the same I'll send it your way. Thanks!

[2020-08-12 20:26] jose-donato opened #119 "Advanced Custom Fields are detected on normal WP Post but not on custom content type"
In my project I have multiple content types:
- default ones: posts and pages
- programs (custom content type created with register_post_type)
- podcasts (custom content type created with register_post_type)

This plugin is detecting the advanced custom fields from Posts but not from the other custom content types (programs and podcasts). Is this bug known?

Greetings

[2020-08-12 20:39] rickgregory commented on #70
@TylerBarnes  - another vote for not having a 404 halt the build, especially when doing a development build. I'm currently exploring using Gatsby for a news site and I can't actually finish a develop build because of a late 404. I want the warning, but I'd like to be able to actually have the build finish. As it is, I have to fix every 404 before I can even start seeing how this will work and sinc

[2020-08-12 21:35] jacobarriola commented on #87
@TylerBarnes I think this may be related to ElasticPress. I'm running issues with pagination where despite passing in the correct endCursor, I get back the first N products (all other post types work as expected).

When I disable the WooCommerce featured of ElasticPress (or disable the plugin), pagination works as expected.

That's why I think the `gatsby develop` hangs, because it's caught in an

[2020-08-12 23:32] TylerBarnes commented on #119
Hi @jose-donato , thanks for opening this issue!
It's hard to say from your description but my first instinct is that this is happening due to not adding those types to WPGraphQL.
When you register a post type you need to set it to `'show_in_graphql' => true`. When you add acf fields you have to add them to a specific post type via the location rules. There are some location rules which don't work

[2020-08-12 23:44] jose-donato commented on #119
I will try later to provide some more info. Sorry about that.

I added the `'show_in_graphql' => true` when registering the custom content type and I can query them in the local Graphiql (in the wordpress dashboard with WPGraphiql)

[2020-08-13 00:01] DesignerKnowsFrontEnd commented on #115
ok that defo worked like a treat. thanks for all your help man. do you when there be any updated docs or more info working with the source plugin etc??

[2020-08-13 06:01] SilencerWeb opened #120 "How to understand which images are being processed and which are not?"
We use plugin [Lazy Blocks](https://wordpress.org/plugins/lazy-blocks) to create custom blocks that in the future will be used for creating content for pages. We have an image in one of our blocks but it isn't being converted into Gatsby Image. It is just an `img` with a link to the image (that is hosted on WordPress, not somewhere else), e.g. `<img src="https://wp.domain.com/wp-content/uploads/20

[2020-08-13 08:47] nunof07 opened #121 "Enum types not showing in GraphQL"
One of the settings from Yoast SEO that is registered by [wp-graphql-yoast-seo](https://github.com/ashhitch/wp-graphql-yoast-seo) as an enum is not showing up in Gatsby's GraphQL despite having a value.

The following works when queried in WP GraphiQL or in a GraphQL IDE connected to the WordPress site:

[code]

![image](https://user-images.githubusercontent.com/13945913/90113427-4187ee80-dd49-11e

[2020-08-13 08:52] nunof07 commented on #111
@TylerBarnes opened a separate issue: https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/121

Thank you for considering helpers so we can have more control over fields and types. It would indeed be helpful. For now I can use the workarounds.

[2020-08-13 10:16] hellola commented on #58
Hi @TylerBarnes I have just realised that I'm experiencing some pain in regards to this. Is there a current way to make this work or can I help with the implementation of this?

[2020-08-13 15:23] samtous opened #122 "build error: "Error path: allSettings.generalSettingsEmail. Sorry, you do not have permission to view this setting""
Hi there -- I just updated to the most recent version of `gatsby-source-wordpress-experimental`, and I'm having real trouble getting things to build.

<img width="1088" alt="Screen Shot 2020-08-13 at 11 21 24" src="https://user-images.githubusercontent.com/5625731/90153586-2f14b180-dd57-11ea-8ed9-bb98b24076f9.png">

I can't find anywhere in our code that calls `allSettings`, or `generalSettingsEma

[2020-08-13 15:27] donnervetter commented on #119
Hey everyone, i'm having a similar problem - Advanced Custom Fields appear only on posts but not on pages.

[2020-08-13 15:34] TylerBarnes commented on #119
If someone can provide a reproduction /graphql endpoint that would go a long way here. Thanks!

[2020-08-13 15:35] TylerBarnes commented on #119
Feel free to email it to me with a reference to this issue if it's a private endpoint. (tyler@gatsbyjs.com)

[2020-08-13 15:37] TylerBarnes commented on #115
I'm off today and tomorrow but @jasonbahl and I are planning to do a bunch of work on docs for this project & WPGraphQL on monday/tuesday

[2020-08-13 15:37] TylerBarnes commented on #115
Were there any other parts of the docs that got you hung up?

[2020-08-13 21:24] jose-donato commented on #119
Just emailed you, @TylerBarnes

[2020-08-13 21:37] jacobarriola commented on #87
Whoops, forgot to read the docs on debugging 🤦🏽‍♂️.

I'll follow the documented steps and will report back.

https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/debugging-and-troubleshooting.md#wordpress-50-errors

[2020-08-13 23:46] robmarshall commented on #83
Nice one for sorting this!

[2020-08-14 01:00] jacobarriola commented on #87
@TylerBarnes I fixed the WP 500 issues. For my case, it was a few things:

1. Lowered down the `schema.perPage` to `1`. The `Product` type kept getting hogged 🐖 down
2. Raised `schema.timeout` to `50000`
3. Excluded `metaData` and `contentType` fields. Looks like the WP instance I'm hitting was returning objects instead of strings in some of these fields. These were caused by two WooCommerce add-o

[2020-08-14 05:59] benknight opened #123 "Sourcing nodes fails when content contains protocol-relative image URLs (img src with double-slash)"
I'm seeing the following error when sourcing my WordPress content:

[code]

This is coming from a post that contains the following HTML:

[code]

A rudimentary search of the source code seems to imply the cause may be here: https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/src/steps/source-nodes/create-nodes/process-node.js#L351

This check assumes that any img tag conta

[2020-08-14 06:04] benknight commented on #93
@TylerBarnes yes I believe that's all that necessary to reproduce it.

When I tested, I was using `console.log` debug the GraphQL request/response and I observed that the same "endCursor" string was being returned for every request, regardless of the GraphQL request variables.

I then went to the SG Optimizer settings and turned off dynamic-caching:

![image](https://user-images.githubusercontent.

[2020-08-14 09:02] robmarshall opened #124 "Excerpt no longer populated"
I am not sure what has caused it, but since updating two of my sites the excerpt field within posts object passed back from graphql is empty.

I am running the most recent WordPress: 5.4,  gatsby-source-wordpress-experimental: 1.3.4 and graph-source-ql:2.7.1

WordPress plugins are: wp Gatsby: 0.4.16, wp graphql: 0.4.16

The an example repo: https://github.com/robmarshall/tns-gatsby

I have had to

[2020-08-14 13:21] SilencerWeb commented on #117
As turned out, it is not a bug but a feature.

Would be awesome to have an option to turn off this behavior 🙂

Would be even more awesome to have an ability to specify URLs to images that should be fetched anyway in order to prevent downloading all other unneeded images

[2020-08-14 15:42] samtous commented on #122
fixed this by adding:

[code]
and
[code]

to the config file

[2020-08-14 15:42] #122 closed

[2020-08-15 01:33] petercr opened #126 "The comments in `building-a-new-site-wordpress-and-gatsby.md` don't work in JSX"
Hello 👋  **really cool project** you have going here.

There were some problems with the comments in the JSX sections in:

I went ahead and made a PR with the fixes for it. #125

Basically, the comments were regular JS comments `// comment `  and not JSX comments `{/* comment */}`.
But they occurred while inside of a `render`.
Don't worry we all do it every once in a while 😅

[2020-08-16 15:22] ashhitch commented on #70
@rickgregory
as a temp workaround, you could add a redirect rule for all 404'ing images on your wordpress site...
it's not ideal but will get you out of a bind:
[code]

[2020-08-17 03:00] jball23 commented on #119
I am using CPT-UI and was having the same issue because it only gave the option to show in the REST api, not GraphQL.  This is a very minimal WP plugin I found that will add the "show in graphql" fields on your custom post type.  Works like a charm.

https://github.com/wp-graphql/wp-graphql-custom-post-type-ui

[2020-08-17 06:24] ashhitch opened #127 "Missing children on Pages"
Hey,
When ruing a query for child pages nothing gets returned in Gatsby.

When I do the following query direct in wpGraphQl:

[code]

I get all of the sub/ child pages returned in the the array.

However when I make the equivalent query in gatsby:
[code]
Then I only get the top-level page data, and the children array is always empty.

Let me know if an endpoint would be helpful.

[2020-08-17 11:26] mattdabell commented on #96
Just to add to this: I tried to generate the categories by downloading the products and checking what categories they have, but it still only shows the top level categories.

Eg if I try this in Graphiql I only get the top level categories:

[code]

whereas this query in playground returns all categories no problem:

[code]

[2020-08-17 16:16] kellenmace opened #128 "Builds fail with a large number of posts"
## Issue
I have a WP site with a `run` custom post type. I built the frontend using `gatsby-source-wordpress-experimental` and Netlify builds were working great for a while. As the production app got more and more usage though, and the number of `run`s created by users got up above 1,800+ posts, the builds started failing.

The output of the Netlify deploy log looks like this:

[code]

## My Worka

[2020-08-17 21:00] jasonbahl commented on #127
@ashhitch Thanks for opening and providing details. An endpoint and what versions of all involved plugins in use on the Gatsby and WP side would definitely be helpful so we can reproduce. 🙏

[2020-08-17 21:53] deadband commented on #124
I am experiencing this same issue after updating WordPress to version 5.5, resulting in excerpts coming back empty in graphiql. However, when I downgraded to 5.4.2 and even 5.4.1, excerpts were then successfully queried within graphiql. Strangely, they still show up undefined within my project, but I believe that is something within the code and not related.

[2020-08-17 23:22] garryburch opened #130 "Gatsby-image feature fails inside WYSIWYG/post"
When using offsite storage locations such as AWS the gatsby-image feature fails inside ACF/WYSIWYG

It does bring back the image and scrset yet as WP would hand them off - not ran through the gatsby-image-source like it does on our other sites that use local storage.

System:
    OS: Linux 5.4 KDE neon 5.19
    CPU: (16) x64 Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz
    Shell: 5.0.17 - /bin/bash

[2020-08-18 12:34] ashhitch commented on #127
@jasonbahl @TylerBarnes
These are the relevant plugins:
gatsby-source-wordpress-experimental: 1.3.6
Wp Gatsby 0.4.16
WpGraphql 0.10.3

The endpoint is private but can slack you the link.

[2020-08-18 21:30] ssoney200 opened #131 "Are PDF's or MP4's retrieved from wordpress media items?"
Hi guys,

All my jpegs and pngs etc are downloaded using Gatsby source wordpress experimental but I also want to pull mp4 videos and PDF files from the media in Wordpress.

I'm sure this was working when I used the Rest API version, but I can't locate them anywhere using this version.

Am I missing something?

Thanks,
Jamie

[2020-08-18 21:32] adamgen opened #132 "Usage of URL is not clear"
This will not work:

[code]

While this will:

[code]

Took me a couple of hours of debugging the source under `node_modules` to figure it out. I suggest to automatically add an `http://` prefix and a `/graphql` suffix when they absent.

[2020-08-18 22:19] JeffYYW opened #133 "Media not sourcing and content not updating for custom posts"
Hi,

I'm migrating a site from gatsby-source-graphql. All pages are being created without errors but images in my posts' html content are not being sourced and processed by Gatsby image; even though the query seems to be working.
<img width="411" alt="Screen Shot 2020-08-18 at 6 10 01 PM" src="https://user-images.githubusercontent.com/18003687/90570736-59fb6d00-e17e-11ea-963d-9d1c842a9753.png">

P

[2020-08-19 06:58] MilanPoznan opened #134 "Can't get data from options page"
I am not sure is this issue, but I can't get data from the options page in graphQL, can you assist maybe?
I create options page using ACF function acf_add_options_page, but can't find it in qraphQL.

[2020-08-20 12:11] MussadiqKhan commented on #107
Hey,

Is it possible to somehow skip or ignore that particular page/post?

[2020-08-20 12:48] MilanPoznan commented on #134
I will reply

[2020-08-20 12:48] #134 closed

[2020-08-20 12:50] MilanPoznan commented on #134
This is not an issue, but I will leave solution here if someone have issue with this.
First of all when you create a page you have to set settings show_in_graphql to true, so my function for creating Options page looks like:
if( function_exists('acf_add_options_page') ) {
	acf_add_options_page(array('page_title' => 'Options Page', 'show_in_graphql' => true));
}
And then you can find it in GraphQL:

[2020-08-20 15:11] stephan-swiftcom opened #135 "Media with non-URL-safe characters cannot be fetched"
I am unable to compile when I have media with non-URL-safe characters in them.

The graphql node contains the correct URL (@ formatted as %40): `https://xxxxxxxxxxxxxx.com/filename1234-something-245%402x.png`

But the processed URL seems to have doubly URL-encoded the string, causing a 404 (% reencoded to %25): `https://xxxxxxxxxxxxxx.com/wp-content/uploads/2020/08/filename1234-something-245%25402

[2020-08-20 20:44] TylerBarnes commented on #132
Thanks for this suggestion @adamgen . We aren't able to automatically add either of those for a couple reasons.
the `/graphql` endpoint can be reconfigured via a WordPress filter. This means if someone changes where the endpoint is, the plugin will never pick it up. For http, I'm not sure if we can programatically determine wether the endpoint is on http or https. I think in this case it might be

[2020-08-20 20:47] TylerBarnes commented on #135
Hi @stephan-swiftcom , thanks for opening this issue. Is `https://xxxxxxxxxxxxxx.com/wp-content/uploads/2020/08/filename1234-something-245%25402x.png` an accurate representation of one of the url's causing this issue?

[2020-08-20 21:03] erick-go opened #136 "ACF images on child category hangs on build"
Hi!

I have the following situation: a Continent category page (eg Asia) with featured images of its children (Cambodia, Vietnam, India...). Wordpress doesn't support category featured images out of the box, so I used ACF to realise them.

On `gatsby develop` the page jobs hang at 99%. When I make a change in the src folder and save it, it weirdly goes through.

When the page jobs run, the termina

[2020-08-21 06:14] stephan-swiftcom commented on #135
@TylerBarnes The filename is actually `filename1234-something-245@02x.png` which gets encoded to `filename1234-something-245%402x.png`, and that URL works and can be used to fetch the image from the server.

The filename it is trying to process though - `filename1234-something-245%25402x.png` (notice the extra %25 added in the filename) does not exist. Other than that I only obscured the domain na

[2020-08-21 07:08] #116 closed

[2020-08-22 08:57] kwoncharles opened #137 "Cannot read property 'post' of undefined"
Hi folks. I've been trying to build gatsby pages with the [starter](https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/themes-starters-examples.md). But I encountered two errors during the running `gatsby develop` command.

*GraphQL endpoint: `https://www.finda.co.kr/post/graphql`*

### 1. `Cannot read property 'mediaItem' of undefined`
I have gotten this error in th

[2020-08-24 05:23] benknight opened #138 "Request for clarification: how to refresh local schema when schema changes on server?"
Let's say I add a new field to my WordPress GraphQL schema, for example using the ACF plugin to add a new field.

Based on my observations, it appears necessary to exit development mode, run `npm run clean` to clear the local cache, and restart in dev mode from scratch. Is that correct?

[2020-08-24 16:12] TylerBarnes commented on #107
@MussadiqKhan there's no way to programatically determine on the Gatsby side which nodes are problematic. Nodes are fetched in lists using pagination. So for example for Page nodes, the first 100 pages are fetched, then the response contains an indicator of wether there is a second page of 100 or not (and how to find it). When fetching 100 pages, 1 page in the list of 100 fails the entire request

[2020-08-24 18:53] MussadiqKhan commented on #107
@TylerBarnes How did you find out which page was causing an issue? I made a copy of my site, deleted the page you pointed out, ran everything and still got same error.

Endpoint:  `https://www.staging1.sellerlift.com/graphql`,

[2020-08-24 23:28] TylerBarnes commented on #107
@MussadiqKhan , to debug you can use the following options:

[code]

This will fetch each type 1 node at a time. When the request fails it will show the query variables in the terminal output and copy the query that failed to your clipboard.
Use a GraphQL client app like GraphiQL or GraphQL playground to make that query with those query variables.
You'll find that some of your fields cause the req

[2020-08-25 10:22] peteluffman commented on #138
Would also love to know this, i've been having to do the same. It becomes a right pain when you start having a reasonable amount of images that need to be rebuilt due to the cache being cleared.

[2020-08-25 20:36] etnichols opened #139 "Build failure: "Sorry, you do not have permission to view this setting." allSettings.generalSettingsEmail, generalSettings.email"
gatsby-source-wordpress-experimental: 1.3.6

Using WP GraphQL plugin version 0.10.3

Relevant build output:

[code]

Digging into this error message led me to this WP Graphql discussion: https://github.com/wp-graphql/wp-graphql/issues/373. Which was formalized into https://docs.wpgraphql.com/guides/authentication-and-authorization/. Very helpful!

The relevant part of the docs:

Which leads to my

[2020-08-25 20:38] etnichols commented on #139
@jasonbahl -- could you provide more guidance on how to actually use the wp-graphql plugin with the authentication plugins you mention in the documentation?

[2020-08-26 02:46] etnichols commented on #139
Workaround:

[code]

To bypass the auth-only fields.

[2020-08-26 02:46] #139 closed

[2020-08-26 14:01] MussadiqKhan commented on #107
Hey,

I did as per your instructions. Here is what I got: gatsby-source-wordpress  GraphQL vars: {"first":1,"url":"https://www.staging1.sellerlift.com/graphql","after":"YXJyYXljb25uZWN0aW9uOjI5MjM="}

How to debug it further. Graphql won't work on my localhost since build failed. Do I need to install some Graphql plugin on wordpress to run queries and debug it?

[2020-08-26 17:00] lnikell opened #140 "Gatsby Preview with Posts and ACF breaks cache"
Hi guys, thank you for the great work. The new experience with Gatsby and this plugin is much better than before. I wanted to report a weird bug that we experience with it. Probably it will help you to fix it or you will give us some good advice for a potential workaround.

**Our setup:**

Wordpress  - 5.5 (but the issue was with 5.4 too)
WP GraphQL - 0.12.0
WP Gatsby - 0.4.14
WPGraphQL for Advanc

[2020-08-27 17:21] hazuremon commented on #78
Hi @TylerBarnes, I notice draft preview hasn't been working and is getting a 404 error. I have test it through Gatsby Cloud and locally through ngrok debug setup.

Published post preview works though.

gatsby-source-wordpress-experimental: 1.3.6
wp-gatsby: 0.4.16
WP: 5.5
WP GraphQL: 0.12.1
Gatsby CLI version: 2.12.88
Gatsby version: 2.24.50

[2020-08-28 01:10] TylerBarnes commented on #121
This is fixed in `gatsby-source-wordpress-experimental@1.3.8`. Thanks for the report!

[2020-08-28 01:10] #121 closed

[2020-08-28 18:32] TylerBarnes commented on #107
@MussadiqKhan you can download Graphiql or GraphQL Playground and point those at your WordPress /graphql url.
When the query fails it will copy it to your clipboard, paste it into your chosen GraphQL client, then copy the GraphQL variables from the terminal output and also paste those into your GraphQL client. Then you should be able to identify which posts are causing the issue.
If you're able to

[2020-08-28 19:42] MussadiqKhan commented on #107
Hey @TylerBarnes,

Thanks. Can I have the email address for Jason? I can send my wordpress admin login details? Will it work?

Thanks

[2020-08-29 11:03] zaffron opened #141 "Filter sticky posts"
Any idea on how to filter sticky posts? I have implemented sticky posts filter in WpGraphql in wordpress and it works with GraphqiQL in wordpress but not in gatsby.

[2020-08-29 23:19] robmarshall commented on #119
I am having this same issue. The custom post type is showing up in GraphQL, but the ACF fields are not.

All of the correct settings are checked, so that the fields should be shown. I have fields showing up in a regular page, but not a CPT.

[2020-08-30 12:50] robmarshall commented on #84
Sorry about not coming back to this. I missed the reply. This is no longer an issue for me. Not sure the fix, but can no longer replicate.

[2020-08-30 12:51] robmarshall commented on #128
Sounds like a timeout issue. Netlify has a build limit of 30 minutes.

[2020-08-30 17:16] kellenmace commented on #128
@robmarshall I agree. Because Gatsby is "aware" of all the queries that need to be run at buildtime, I think the ideal solution here would be for this source plugin to run some logic like this:
Is this post type being queried at buildtime? If so, fetch its posts. Otherwise, skip it.

That would have allowed my builds to complete, since as I mentioned, my app never queries the `run` post type at bu

[2020-08-30 21:40] robmarshall commented on #128
That is a good point. I imagine there are a number of post types that are not queried such as users/settings (in smaller marketing sites) that have no need to be read. Would save precious time.

[2020-08-31 09:25] yudyananda opened #142 "Request failed with status code 503"
Hi, i have trouble when running `gatsby develop` on my machine, it throw me ` gatsby-source-wordpress  Request failed with status code 503`.

Here is the detail from my console
[code]

[code]

I'm not realy sure what cause the error but this happen after intalling woocommerce in my wordpress side. Does gatsby-source-wordpress-experimental have support for woocommerce?

[2020-08-31 12:06] MussadiqKhan commented on #107
Hey @TylerBarnes,

For the time being I removed pages from wordpress and tried fetching data but now I get another error.

EPERM: operation not permitted, lstat 'C:\Users\musad\OneDrive\Desktop\Fiverr Projects\sellerlift-wordpressgatsby\.cache\caches\gatsby-source-wordpress-experimental\tmp-752478c5df7927eeebc6d6af532c8a88.png'

Please let me know what is it about.

Thanks

[2020-09-01 02:41] joperron commented on #78
Hey Tyler, I'm also getting a 404 on drafts using the latest version of everything

[2020-09-01 05:26] SilencerWeb commented on #138
That's true, it is indeed not really convenient to restart the server every time the field was added/deleted somewhere. By the way, as I know, cleaning cache is not required in such case

Also, I have to restart the server almost every time I change the branch :(

[2020-09-01 05:47] #136 closed

[2020-09-01 12:26] ErnestTeluk opened #143 "Document "WooCommerce request failed with status code 500", server is overwhelmed by requests"
hello, i have a problem with launching the project, when i hit `gatsby develop` i have an error
` ERROR
gatsby-source-wordpress  Request failed with status code 500
error occured while fetching nodes of the "PaColorName" type.`

but my query on wordpress works [
![image](https://user-images.githubusercontent.com/49727996/91851408-63e19d80-ec5f-11ea-94f7-cad82b1dc878.png)
](url)

[2020-09-02 23:08] carlbradbury79 commented on #127
Hey

Getting the same issue with not only the children on pages, but parents too.

[2020-09-03 09:10] MKlblangenois opened #144 "Fetched content is different from source content"
# Expected Behavior

Getting the same data in WordPress GraphiQL and Gatsby

# Current Behavior

The content field is different from WordPress and Gatsby (and seem to be mixed)

- Excepted result : https://ghostbin.co/paste/ty9xo (https://ibb.co/f0bLXjb)
- Result in Gatsby : https://ghostbin.co/paste/yx7eg (https://ibb.co/MSCHjHS)

As you can see, only content is different, only in __graphql and n

[2020-09-03 12:04] peteluffman opened #145 "Custom hierarchical taxonomy: only first level is returned with no way to get child nodes"
I'm using custom taxonomy with hierarchical set as true. There seems no way to get the child nodes data.

It appears `parent: null`in the generated query is the culprit for not getting the categories in a flat list, but even wpChildren returns an empty array.

[code]

This is my config for the custom category

[code]

[2020-09-03 13:35] peteluffman commented on #145
Digging into it further, it appears the standard post category doesn't have the same issue because it has a workaround calling a categoryBeforeChangeNode method in the base config.

I've managed to hack a fix for now by duplicating the compiled `category.js` found at `node_modules/gatsby-source-wordpress-experimental/steps/source-nodes/before-change-node/` into my project root and updating it's gr

[2020-09-03 18:54] technobond opened #147 "Building keeps failing to get data from wordpress."
Everytime my website try to build it never finishes and i cant tell what the problem is.. any idea?

[2020-09-03 19:01] ddiiorio commented on #107
@MussadiqKhan @TylerBarnes

I have been getting the same error on every production build, ` EPERM: operation not permitted, lstat 'C:\.......`

[2020-09-03 19:17] emaildano opened #148 "GraphQL process stops on this query"
My builds sometimes work and sometimes fail with no changes to my code but I think this is related or the cause.

I've rewritten this query to be somewhat generic. The area to focus in on is the wpParent part. Any query I have with that kills the GraphQL process immediately. The returned error code is below as well.

[code]

[code]

The only way I see around this is to avoid using any wpParent men

[2020-09-04 17:43] petrmrkvicka commented on #147
Hi @technobond

Your console output says the following
[code]
Did you check all these things? Also, the URL has to lead to your graphql endpoint e.g. www.website.com/graphql

[2020-09-04 18:17] petrmrkvicka opened #149 "blocksJSON are messing with useGatsbyImage"
Hi all,

I am using Gutenberg as the main editor and I have lots of different innerBlocks with different attributes and it is getting too overwhelming with direct querying or fragments. I found a WP plugin [WP GraphQL Gutenberg](https://github.com/pristas-peter/wp-graphql-gutenberg) that enables me to expose Gutenberg blocks and also expose them as a stringified JSON, which is super useful for me.

[2020-09-05 11:32] erick-go commented on #71
It would be awesome if this would be implemented. In my example, the rest of my images are WebP and use tracedSVG, so besides performance, it would also mean more consistency...

[2020-09-05 12:18] JimCaignard opened #150 "Stop all medias to be downloading ?"
Hi all,

i'm using this plugin with a large media website and so i use a CDN for all images and i'would like to
stop downloading all the media at every build as i'm not using them at all..

I find the option to disable gatsby image but not to stop the downloading..

Ideas ?

[2020-09-05 19:46] jacobarriola commented on #149
Same issue is happening to me, although I'm not running the WP GraphQL Gutenberg. For now, I have to set `html.useGatsbyImage` to `false` for my build to work.

[code]

[2020-09-07 11:47] robmarshall opened #151 "imageMaxWidth not passing to image wrapper"
I am setting the following options in my config:

` html: {
        imageMaxWidth: 700,
},`

However, the wrapper div that surrounds the image is having its width set as the WordPress image size, not the config size. Meaning the image breaks out of the div. I am having to pass an !important css style to stop this.

See this article for example: https://thoughtsandstuff.com/deploy-gatsby-aws-with-c

[2020-09-07 16:54] alienintheheights opened #152 "dependency issues"
Brand new gatsby install. Trying to add this plugin. Can't run gatsby develop

[code]

[code]

node -v
v10.16.3

[2020-09-07 18:00] alienintheheights commented on #152
I see this being required in the demo repo, so I manually added it on my end and it worked.

[2020-09-07 18:00] #152 closed

[2020-09-08 07:34] philmuze commented on #95
Hi @TylerBarnes could you have a look for my PR in this topic #129.

[2020-09-08 14:33] rodrigo-arias commented on #149
Exactly the scenario described by @petrmrkvicka happens to me. Going back to version `1.3.1` fixed it temporarily.

[2020-09-08 20:11] integrate-your-mind commented on #127
Hi I am also receiving the error "TypeError: Cannot read property 'pages' of undefined" when loading from the Gatsby template.

I went through these debugging steps with no success, I even tried lowering the query to 1 page and it still failed.

Really strange, I am going to try reverting back to the non-experimental plugin for now.

[2020-09-09 08:47] rburgst opened #153 "LocalFile cache confusion"
Unfortunately I cannot share my wordpress instance, however let me explain my findings.

I have multiple pages that reference the same image in different sizes.

in `fetchNodeHtmlImageMediaItemNodes` we can see that the `imageNode.id` is saved to the cache

[code]

In my case the `imageNode` is a `MediaItem`
[code]

However the `pushNodeMeta` call also causes the `nodeMetaByUrl` lookup table to be

[2020-09-11 09:41] Bbahri opened #155 "Getting graphql "cursor" String to be able to client side "load more" content (eg Articles)"
**Hi, thank you for this great library.**

I am facing an issue using "gatsby-source-wordpress-experimental".
I use the plugin to generate static page at build time from Wordpress. I just generate a static webpage containing a list of 10 articles.
Then, I want the user to be able to load more articles when scrolling down the page.
To do that, I use Apollo and I need the "cursor" of type String, to

[2020-09-11 10:11] pepijn-vanvlaanderen commented on #130
+1 also using offsite media storage and would like to see gatsby to handle the images.

Also remarkable is that when I had all assets stateless in google cloud storage and not present in the CMS (thus leading to 404s) the images would be loaded by Gatsby somehow, I guess through the fetched MediaItems.

[2020-09-11 23:31] magicspon opened #156 "ACF: Gallery, only returns one image"
Heyo,

I've created an ACF gallery field, added a few images.  The field is available to graphql. However, only one image is being returned.

Using the latest version of all the things.

When I use the grahql explorer in wordpress I can see all my images being returned.  Note I only have one page at the moment, so using the pages query for testing.

wp query
[code]
returns 4 mediaItemUrls

gatsby

[2020-09-14 23:27] rodrigo-arias commented on #149
Hi @TylerBarnes have you had a chance to take a look? Thanks

[2020-09-15 07:40] rburgst commented on #153
anyone home?

[2020-09-15 08:18] HumidBrains commented on #103
@TylerBarnes @mattdabell Any progress on this one? I suddenly experience a similar issue despite everything working well before. I think this happened when turning my variable products into simple ones. In fact, filters do not work at all on any of my simple products.

To spice things up, it turns out WP GraphiQL (WordPress) only list 10 out of the 27 (non filtered) products, whereas GraphiQL (Gat

[2020-09-15 11:05] robmarshall opened #157 "Images not using Webp within content blocks"
When this plugin gets content from a WordPress WYSIWYG and converts all images into Gatsby Images, it seems gatsby-image-sharp is not passed the webp value (I may be incorrect here - not fully sure on the package). This means articles are not using all that Gatsby Image has to offer. A significant SEO/page speed issue.

Is there any way I can set this? Nothing was included in the settings page for

[2020-09-15 14:49] mattdabell commented on #103
I don't think there's any progress yet. I agree it definitely seems related to variable products, but something weird is going on for sure. I managed to work around the issue by up-front querying for every single product in gatsby-node then injecting the relevant products into the different taxonomy pages via context, basically using JS to filter instead of page queries & graphql. It works fine fo

[2020-09-15 19:38] TylerBarnes commented on #149
Hi everyone, I've been away on vacation the last 2 weeks. I'm just sorting through all my notifications and prioritizing things now. I'll keep you posted on this issue.

[2020-09-15 19:41] TylerBarnes commented on #127
Hey everyone, `children` and `parent` are used within Gatsby differently than in WPGraphQL and so are treated as reserved field names. Those are Gatsby node parent and children. For any field name treated as reserved, I've prefixed the field name with `wp` automatically. So you're looking for `wpChildren` and `wpParent` instead. Let me know if that solves the issue for you. I'm planning on revisit

[2020-09-15 19:52] TylerBarnes commented on #107
@MussadiqKhan https://www.google.com/search?hl=en&q=EPERM%3A%20operation%20not%20permitted%2C%20lstat

[2020-09-15 20:05] TylerBarnes commented on #84
🤔 that's odd but glad to hear it's no longer an issue for you! There is currently a re-work of preview happening which will make it a lot more stable and straight forward. I'm closing this issue for now, you can follow along on progress here https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/97 if you're interested

[2020-09-15 20:05] #84 closed

[2020-09-16 09:25] HumidBrains commented on #103
Thanks for the input @mattdabell. I've made another check now and filtering works for variable products, but not for simple products. I have not tried grouped or external products. If the bug is within WoographQl or gatsby-source-wordpress-experimental is hard for me to say. @TylerBarnes What's your take on this?

[2020-09-16 16:23] philip-akerfeldt commented on #131
I also have this problem.
Images are fetched fine from WPGraphql using the `WpMediaItem` type. PDFs however, are missing some important fields. For me its the `sourceUrl` that is the biggest issue right now.

[2020-09-16 17:14] moonmeister commented on #131
Do either of you have some code I can see or more specific logs?

Some possibilities:

1. non image items in WordPress don't have `sourceUrl` the use `mediaItemUrl` if memory serves (images also have `meduaItemUrl` so it's probably better to use that).
2. I believe images are only downloaded into Gatsby if they are referenced by something in WP. meaning they're in a post/page, linked in a menu, et

[2020-09-16 17:50] TylerBarnes commented on #153
Hey @rburgst I was out on vacation the last couple weeks. Thanks for this detailed description of the problem, this is really helpful. So to reproduce I need to use the same image in 2 different fields but set a different size for each field?

[2020-09-17 05:02] rburgst commented on #153
Yes, in my case the default (no specific size) gets handled first and leads to the correct file node being stored in the cache. Then inside an html tag the same image with a different size spec gets referenced and leads the previous filenode cache entry to be overwritten with a mediaItem node. I have created a patch that solves the problem for me but am not 100% sure if the solution is a good one.

[2020-09-17 08:21] RyoheiTomiyama commented on #145
I had same issue.
That really helped me out!

I leave a my code because I was worried to rewrite `category.js`

<details>
<summary>case_categories_child_nodes.js</summary>

[code]
</details>

[2020-09-17 11:00] philip-akerfeldt commented on #131
Sure! Here are som additional information about my case.
I am creating pages for my PDF files so my initial query that is used in gatsby-node is the following:
[code]

On each specific PDF page I am using the following fragment query:
[code]

The error I get right now does not seem to be connected to the mediaItem type. Ill get back to you with more information when I get the time to debug and tes

[2020-09-17 11:28] ssoney200 commented on #131
This was the issue I had Phil, I tried a whole manner of different ways to test if the PDF's were indeed included in the allWpMediaItem, but came up sort every time, I just could not find them in graphql at all.

The only way I could resolve temporarily was to pull down manually the pdf's from wordpress, and then filter the post content to serve files the local gatsby source file system if a name

[2020-09-17 13:43] philip-akerfeldt commented on #131
I am using a combination of `gatsby-source-wordpress-experimental` and and the plugin called `gatsby-source-filesystem`. This worked perfectly in V3 but now when I have tried to port my project to V4 the issue occurred. The PDF page uses this query:
[code]
The fragment used in this query can be found in my previous comment. This is the error I get when trying to render my PDF page for a pdf called

[2020-09-17 14:38] TylerBarnes commented on #149
So before I headed out for vacation I had started on writing some resolver data integrity integration tests for wp-graphql-gutenberg in Gatsby. Picked that up again yesterday evening and ran into this bug pretty quick! So I have a fix coming probably later today, just need to finish these tests and make sure nothing else is affected due to my fix.

[2020-09-17 19:00] tjs1990-hub opened #160 "Gatsby Image"
localFile not returning anything and displaying as null, does anyone have a fix for this?

<img width="1425" alt="Screenshot 2020-09-17 at 19 59 51" src="https://user-images.githubusercontent.com/55842369/93515373-63fcc100-f920-11ea-8eb8-c8026b772651.png">

I also got this error message in my terminal.

warning You can't use childImageSharp together with .jpg. — use publicURL instead. The childIma

[2020-09-17 20:05] rickgregory opened #161 "Pantheon Demo Site no longer exists."
I know that we're supposed to edit the config file to point to our own sites, but I installed this starter new and did

`gatsby develop`

against it as a sanity check and it errors out as the site (https://dev-gatsby-source-wordpress-v4.pantheonsite.io/graphql) no longer exists.

[2020-09-17 22:42] #149 closed

[2020-09-17 22:48] TylerBarnes commented on #149
A fix is published in `gatsby-source-wordpress-experimental@1.3.9`!

[2020-09-17 22:53] TylerBarnes commented on #160
That's odd! Can you provide a reproduction of this so I can take a look? If your API URL is sensitive info you can email it to me at tyler@gatsbyjs.com

Thanks!

[2020-09-17 22:57] TylerBarnes commented on #117
Thanks for the request @SilencerWeb ! This is a totally valid and needed option and we'll be able to add this once v4 is released.

[2020-09-17 22:58] TylerBarnes commented on #157
Yesss this is very needed. Thanks for the feature request. I'm closing it for now as we're tracking the request over in #100

Thanks!

[2020-09-17 22:58] #157 closed

[2020-09-17 23:01] TylerBarnes commented on #156
Hi @magicspon, sorry for the late reply, I was out on vacation for a couple weeks. This certainly sounds like a bug. Can you share your GraphQL API url with me so I can take a look? My email is tyler@gatsbyjs.com

Thanks!

[2020-09-17 23:05] TylerBarnes commented on #155
Hi @Bbahri ! This is an excellent feature request. We've been talking about writing a plugin that will assist with using live WPGraphQL queries client-side mixed with Gatsby data. This is something we will definitely add at that point. Before that I'm focusing on getting the plugin into a stable place so we can ship v4. Thanks so much for opening this request!

[2020-09-17 23:09] TylerBarnes commented on #150
Hi @JimCaignard ,
We've been talking about adding this as an option along with some additional helpers to still use the Gatsby Img React component, but nothing has materialized yet.

What you can try in the meantime to stop the downloading from happening is to override the type option on MediaItem nodes that downloads the files.

Try this
[code]

I'm not entirely sure if there will be any side eff

[2020-09-17 23:11] TylerBarnes commented on #148
Hey @emaildano ! Sorry for the late response here, I've been out on vacation for a couple weeks.
Are you able to share a GraphQL api url that I can use to reproduce? You can email it to me at tyler@gatsbyjs.com

Thanks!

[2020-09-17 23:14] TylerBarnes commented on #147
@petrmrkvicka that's a good suggestion but I believe in this case the GraphQL url has been set which is why we can see all the different gql types listed in the output.

The issue here might be that your server is being overwhelmed by all the requests but it's hard to tell from the description here. Can you share you GraphQL api url with me by emailing tyler@gatsbyjs.com?

Thanks!

[2020-09-17 23:16] TylerBarnes commented on #145
Thanks for opening this issue @peteluffman , this is indeed a problem currently. I have some ideas to make it so this workaround isn't needed but haven't gotten around to implementing it yet. Thanks for the reminder and clear description of the problem!

[2020-09-17 23:23] TylerBarnes commented on #144
This is a very strange bug. Can you share you GraphQL api url with me so I can use it to reproduce the problem? My email is tyler@gatsbyjs.com

[2020-09-17 23:24] TylerBarnes commented on #144
Ah, no need to share it via email, I see you pasted a link to a REST route and I can access your GraphQL api from that URL. Thanks!

[2020-09-17 23:28] TylerBarnes commented on #143
Hi @ErnestTeluk , the wp-graphql-woocommerce schema isn't fully supported yet. However, this appears to be a problem with your server being overwhelmed by all the GraphQL requests that are being made. Try following the steps here https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/debugging-and-troubleshooting.md#node-sourcing-timeouts to see if it resolves your issue

[2020-09-18 10:42] tjs1990-hub commented on #160
Hi Tyler, thanks for coming back to me!!

The steps to reproduce are as follows.

Wordpress latest version (5.4)

I'm using this theme to remove the front end

https://github.com/tomphill/wp-gatsby-js-theme-starter

The URL is https://beauty.fencingleeds.co/graphql

I am using the latest version of WPgraphql and WPgatsby

I cloned the starter from https://github.com/gatsbyjs/gatsby-source-wordpres

[2020-09-18 12:29] tjs1990-hub commented on #160
Hi i have managed to get the images to show by adding

`allFile {
            edges {
              node {
                relativePath
                name
                childImageSharp {
                  fluid(maxWidth: 1200) {
                    aspectRatio
                    src
                    srcSet
                    sizes
                    base64
                  }

[2020-09-18 18:58] rickgregory commented on #56
Is this why on Local by Flywheel Gatsby throws this:
`gatsby-source-wordpress  self signed certificate

GraphQL request to https://sitetherapy.local/graphql failed.

Please ensure the following statements are true
  - your WordPress URL is correct in gatsby-config.js
  - your server is responding to requests
  - WPGraphQL and WPGatsby are installed in your WordPress backend`

One of the issues wit

[2020-09-18 19:07] TylerBarnes commented on #117
@SilencerWeb this is definitely a valid and needed feature but I'm curious what your specific use-case is. Can you elaborate a bit?

[2020-09-18 19:15] rodrigo-arias commented on #149
Tested and it works, thanks!

[2020-09-18 21:01] TylerBarnes commented on #142
Hey, thanks for opening this issue. I'm closing this as a duplicate of #147 . Please check that issue out and see if the solution there solves this problem for you as well.

[2020-09-18 21:01] #142 closed

[2020-09-18 21:05] TylerBarnes commented on #141
Closing this as an upstream issue https://github.com/wp-graphql/wp-graphql/issues/1465.
Thanks for raising this!

[2020-09-18 21:05] #141 closed

[2020-09-18 21:09] TylerBarnes commented on #140
Hey @lnikell thanks for reporting this. I'm currently working on rewriting the internal Preview logic and that may fix this incidentally but I can have a look at this while I'm building out the new preview experience. Are you able to share a reproduction repo and or GraphQL API url I can use to debug? You can email it to me at tyler@gatsbyjs.com

Thanks!

[2020-09-18 21:10] TylerBarnes commented on #140
The preview work is being tracked in https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/97

[2020-09-18 21:30] TylerBarnes commented on #133
Hey there, can you provide a reproduction and or clear steps on how to reproduce as well as a WPGraphQL API URL I can use to reproduce. I'm not totally sure what's causing this issue or how to have a look.

Thanks!

[2020-09-18 21:49] TylerBarnes commented on #130
Hey @garryburch , this is a good request and we need more options around how gatsby-image and CDN's are used by this plugin. For now we're working on getting the basic core features stable, then additional features like this will be prioritized.
Thanks for raising this!

[2020-09-18 21:55] TylerBarnes commented on #128
Hi @kellenmace , If you update to the latest versions of all plugins this might actually go away. Previously some problematic fields were being fetched on users that slowed builds down quite a bit (users uploaded media items). So even if you weren't using those media items anywhere it was still fetching them, spiking the build time. What you're asking for though is in planning, check this issue ou

[2020-09-18 21:56] TylerBarnes commented on #128
Also it'd be worth giving Gatsby Cloud a try, there's a free tier that will build your site really fast. It's much much faster than Netlify and it's also free. You can also deploy to Netlify as hosting.

[2020-09-18 22:03] TylerBarnes commented on #126
Merged the PR, thanks again! Really appreciate your help

[2020-09-18 22:03] #126 closed

[2020-09-18 22:08] TylerBarnes commented on #124
Hey this is a WP core bug. Check out this WPGQL issue comment explaining things https://github.com/wp-graphql/wp-graphql/issues/1430#issuecomment-675548552. Closing as upstream.

[2020-09-18 22:08] #124 closed

[2020-09-18 22:15] TylerBarnes commented on #120
Hey @SilencerWeb sounds like this is a documentation issue but also might be a bug too. Can you share a reproduction or send me a GraphQL API url that I can use to reproduce?

Thanks!

[2020-09-18 22:24] TylerBarnes commented on #119
Apologies for the delayed response here, I was out on vacation for a few weeks. This is on my radar

[2020-09-18 22:25] TylerBarnes commented on #113
Hi @pepijn-vanvlaanderen , can you share a reproduction repo with a GraphQL api I can use to debug? That'd be super helpful :) thanks!

[2020-09-18 22:28] TylerBarnes commented on #111
@nunof07 the way to accomplish this would be to use GraphQL introspection to check if the fields are registered or not and then conditionally run your code and queries based on that. The plan is to add a helper that allows you to check if a field or type is registered or not. Generally we want to make it easy for plugin and theme devs to build ontop of this source plugin, but currently there aren'

[2020-09-18 22:30] TylerBarnes commented on #106
Hey @emaildano did you get a chance to take a peek again?

[2020-09-18 22:33] TylerBarnes commented on #103
Thanks for the additional context @HumidBrains . The Woo schema is set up in a way this plugin isn't expecting so some additional logic needs to be added. Since we don't technically support Woo in this plugin just yet, I'm scoping this for after stable release. However, I am going to take a quick peek and see if this is a simple fix. If it is I'll cut a release soon.
Thanks for your patience !

[2020-09-18 22:46] TylerBarnes commented on #96
Ah, yeah this is a general problem which has a specific fix for built in categories. I have a general fix in planning but it's not implemented yet. Follow along in https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/145 for updates

[2020-09-18 22:46] #96 closed

[2020-09-18 22:47] TylerBarnes commented on #95
Hi @philmuze I've been out on vacation for a few weeks and I'm just getting to everything now. I have your PR on my todolist and haven't forgotten about this 👍

[2020-09-18 23:22] TylerBarnes commented on #87
Hey @jacobarriola , thanks for digging into all these issues. We've decided that for stable release we're just going to cover the most common scenarios for using core data (and acf) when building sites. After that we do want to look at making sure Woo is properly supported but for now it will be scoped outside of the first stable release. Thanks again!

[2020-09-18 23:25] TylerBarnes commented on #78
@joperron , the preview logic is being rewritten to work more consistently. You can follow that work in https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/97

I'm going to close this issue as that work will fix the issues being experienced here. Thanks everyone

[2020-09-18 23:25] #78 closed

[2020-09-18 23:33] TylerBarnes commented on #145
Ah, just realized there's an issue for this already at https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/63

Closing this issue to track in the other. Thanks again for opening this

[2020-09-18 23:33] #145 closed

[2020-09-18 23:38] TylerBarnes commented on #58
@hellola I appreciate your willingness to help! In this case I think it's probably best for me to make this change since it requires changing pretty much every area of the codebase 😱 . I'm planning on doing this once I have some more solid integration tests (currently working on that).

[2020-09-18 23:43] TylerBarnes commented on #53
Hi @lupoair , it's really hard to keep track of which GraphQL endpoints map to which GH issues. Are you able to send your API again?

BTW I think this issue might be resolved now. It looks like the url it's trying to fetch is a relative url `/wp-content/uploads/2020/06/test.jpg`. The plugin more recently detects this and adds the WP url to the request.

[2020-09-18 23:57] TylerBarnes commented on #56
@rickgregory I'm not 100% sure but I would guess that is why. Help would be very appreciated :D

[2020-09-18 23:58] TylerBarnes commented on #160
Hi @tjs1990-hub , thanks for the additional information, that's really helpful!

[2020-09-19 00:33] jacobarriola commented on #87
All good, @TylerBarnes. I'll post any additional findings that are related to this task, should they come up so that stuff is documented.

[2020-09-19 00:35] TylerBarnes commented on #87
Sweet, thanks so much :)

[2020-09-19 02:08] yudyananda commented on #147
@TylerBarnes  #142 is preety similiar with this issue, but in my case the request failed after i installed Woocommerce in my Wordpress side. without woocomerce the request is working like a charm.

[2020-09-19 11:20] magicspon commented on #156
Heyo.

I'm moved onto uses a repeater field.  When I get time I've recreate the issue.

ta

[2020-09-19 19:12] MussadiqKhan opened #163 "Styling my Gatsby Wordpress site"
Hello @TylerBarnes ,

I normally build websites using Gatsby and headless cms like Netlify or contentful. With these cms's I have the freedom to design pages the way I want. I recently started working on Gatsby wordpress using the source-wordpress-experimental. I faced numerous issues. Now I was looking at styling my website and got stuck. I was able to fetch each and every field using graphql fro

[2020-09-20 11:36] andreasbroch2 opened #164 "Build/Dev fails with 503 Error - Also fetching 0 nodes"
Hello, i have an issue when trying to build or run dev, where it throws a 503 error when trying to fetch nodes.

Here is what i see in the terminal:
[code]

I have removed a lot of lines, as they are the same as the sequence that keeps repeating.

Does anyone know how to fix this?
I have tried updating and double-checking plugins is working, and troubleshooting according to documentation, but noth

[2020-09-20 12:42] tjs1990-hub commented on #160
No worries @TylerBarnes if you need anything else just give me a shout, do you have a rough estimate and when the plugin will be finished yet by any chance. I have quite a few projects coming up :).

[2020-09-20 16:12] ashhitch commented on #127
@TylerBarnes thanks for clearing this up wpChildren was what i needed

[2020-09-20 16:12] #127 closed

[2020-09-21 05:55] SilencerWeb commented on #117
Hey @TylerBarnes!

We have a website with blog posts and we needed to show avatars of the persons who created these posts. We tried to use WordPress plugins for setting avatars to users. But the images were not processed, we could access them inside `avatar` but there was only a `sourceUrl`. So we decided to use this `sourceUrl` to get the needed item in `wpMediaItem` but we couldn't because they

[2020-09-21 05:58] SilencerWeb commented on #120
Hi @TylerBarnes!

Honestly, I don't remember what was the problem. But as I remember, in the end, everything started working okay so let's close it for now

[2020-09-21 05:58] #120 closed

[2020-09-21 08:37] philmuze commented on #95
Alright @TylerBarnes. Sorry for the interruption. Enjoy your vacation!

[2020-09-21 11:56] SilencerWeb opened #165 "Feature Request: An option to strip comments from HTML content"
We use Figma as a designing tool and when we copy from it text using CMD + C, it copies the text which also contains tons of commented data for Figma. And when we paste it to Wysiwyg Editor, these comments are being passed too so in the end, we have commented code on our frontend.

Would be so awesome to have an option that automatically stripes all the comments from HTML content so there won't be

[2020-09-21 17:46] TylerBarnes commented on #117
@SilencerWeb the reason for that is that the source plugin only processes MediaItems and avatar's are external images. Follow https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/67 for avatar processing :)

[2020-09-21 17:46] garryburch opened #166 "Wordpress V5.5^ does not run gatsby-image proccess for images inside WYSIWYG/ACF fields"
I have all of our sites sitting back on WP 5.4^
The reason I have not updated them to 5.5^ was due to when I first saw the release and tried it on a temp project I noticed the gatsby-image feature that was working inside WYSIWYG/ACF no longer brings back this

[code]

with WP - 5.5^ we get this

[code]

Gatsby Info:
[code]

[2020-09-21 18:04] TylerBarnes commented on #147
@yudyananda it's likely still the same problem and the issue is that Woo adds additional resource usage to each request. Try this https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/debugging-and-troubleshooting.md#wordpress-50-errors and https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/master/docs/debugging-and-troubleshooting.md#node-sourcing-ti

[2020-09-21 18:05] TylerBarnes commented on #160
@tjs1990-hub I'm working towards the first stable release as fast as possible. It's hard to say exactly when it will be released as stable v4. Gatsby is working on putting additional resources into WP over the next quarter which should help

[2020-09-21 18:06] TylerBarnes commented on #160
I went through and tagged all the issues here as to which need to be fixed before we can call things stable. You can check that out here if you're interested! https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues?q=is%3Aopen+is%3Aissue+label%3A%22address+before+stable+release%22

[2020-09-21 18:08] TylerBarnes commented on #163
Hi @MussadiqKhan , this plugin should work the same as those other plugins. Where were you having issues with styling?

[2020-09-21 18:09] TylerBarnes commented on #156
No worries @magicspon , I'll try to reproduce using the Gallery field. Thanks!

[2020-09-21 18:11] MussadiqKhan commented on #163
If you look at the about page. I don't seem to get title, image, sub heading, description via graphql. I only see content field and it fetches the entire page with some messed up styling from wordpress. Backend has Avada builder which was used to setup the page @TylerBarnes

[2020-09-21 18:13] TylerBarnes commented on #163
Ahh, I see what you mean. There's nothing that will enqueue WordPress styles automatically. You'll need to add those styles yourself. As far as missing fields, where are those fields coming from? Do you mean meta tags in the head? Or are those Avada fields somewhere?

[2020-09-21 18:24] MussadiqKhan commented on #163
Okay @TylerBarnes , let me explain with an image. This is the backend. I have my about page setup using Avada Builder. As you can see there's an image, description, and then I also have Avada slider.

My question is how can I access these particular items in my front end to style them. Let say I want my image and description in one row on front end? How can I do that?

Or do I need to make my all

[2020-09-21 18:26] TylerBarnes commented on #163
I'm not super familiar with Avada. Does it store those fields separately from the post content? If they're stored separately there will need to be an Avada for WPGraphQL extension created. If they're part of the html in post content, they should come across in the content field and then you can use dangerouslySetInnerHtml or something like react-html-parser to display them.

[2020-09-21 18:28] TylerBarnes commented on #163
Using page builder plugins is something we will be focusing on at some point, but currently we're working on fully supporting any WPGraphQL enabled plugins (like ACF). However, it is something that's possible to get working currently if the page builder stores everything in post content

[2020-09-21 18:30] MussadiqKhan commented on #163
Okay, so at this point you recommend me to focus on building pages using ACF to link with my Gatsby frontend?

[2020-09-21 18:37] TylerBarnes commented on #163
It will certainly be a more stable path for now, but page builders could also work right now too provided the use the post content field and any required styles are manually enqueued in Gatsby. It's up to you :)
ACF flexible content is a good way to go right now if you want something that definitely works, but it of course wont have all the pre-styled components ready to go that Avada has.

[2020-09-21 18:50] TylerBarnes commented on #164
Hi @andreasbroch2 please check this issue https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/147 for info on how to fix this. In the future the plugin will auto-recover from this, but for now it's not able to and requires some configuration when this happens. Closing as a duplicate but feel free to follow up in the linked issue :)

[2020-09-21 18:50] #164 closed

[2020-09-21 19:36] andreasbroch2 commented on #147
I have tried fixing the issue schema.perpage without any luck.

How can I change the GATSBY_CONCURRENT_DOWNLOAD env variable? i cant find it anywhere?

[2020-09-21 19:39] TylerBarnes commented on #147
Hi @andreasbroch2 , the option should be schema.perPage instead of schema.perpage (just to be sure). For the environment variable you'll have to set it yourself https://www.gatsbyjs.com/docs/environment-variables/. Let me know if you need more help with it or if it doesn't work. In the future this part will be a lot easier, but it can be tricky right now

[2020-09-21 19:49] andreasbroch2 commented on #147
I did it correct in my code :)
I can set the variable in the env file, but it is not being used anywhere in the code?
Is setting GATSBY_CONCURRENT_DOWNLOAD=10 in the env file enough? Shouldnt that variable be used in the config to do something. When i search my entire folder, i cant see the variable being used anywhere

[2020-09-21 19:52] TylerBarnes commented on #147
It's being used here https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/blob/a61d9153e8cc7fce84c97d0cc51b8e8cb2726761/src/steps/source-nodes/fetch-nodes/fetch-nodes.js as well as a few other places. I'm considering moving this into a plugin option to simplify things a bit.

[2020-09-21 20:03] TylerBarnes commented on #147
Sorry, just realized I didn't answer the first half of your question :p give 10 a shot, then 5, then 1.

[2020-09-21 20:04] tjs1990-hub commented on #160
Hey Tyler,

i really appreciate you coming back to me on this, it looks like there's
lots of work to be done. I don't envy you working with all these bugs lol.

I look forward to using this plugin.

Do you think it would be safe to use gatsby-source-wordpress or should i
take the leap to learn gatsby-source-graphql it's only for a small project.

All the best

Tom

<https://www.avast.com/sig-email

[2020-09-21 20:07] TylerBarnes commented on #160
Lots of folks are using this plugin in production :) Including the Bluehost and Apollo blogs! I definitely recommend using it. There are some bugs but this plugin still offers more features and in many cases is more stable than alternatives.

[2020-09-21 20:31] tjs1990-hub commented on #160
Cool i will keep pursuing the build and see how it goes, if i find
anything else i will let you know.

Thanks again Tyler, great speaking with you.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB

[2020-09-22 19:05] afridley opened #167 "v4 missing searchAndReplaceContentUrls"
v4 seems to be missing searchAndReplaceContentUrls or an equivalent. This is important if you are hosting multiple staging environments as well as production, and need gatsby to replace content url's differently depending on location it is deployed to

[2020-09-22 19:30] afridley commented on #167
nvm its been addressed here https://github.com/gatsbyjs/gatsby-source-wordpress-experimental/issues/95

[2020-09-22 19:30] #167 closed

[2020-09-23 02:19] #166 closed

[2020-09-23 02:25] TylerBarnes commented on #163
Thanks again for opening this issue, I'm closing it as it seems to be resolved. Thanks @MussadiqKhan !

[2020-09-23 02:25] #163 closed

[2020-09-23 02:26] hashinteractive opened #169 "WPGraphQL for ACF Causes Error on Gatsby Develop"
When I install the WPGraphQL for ACF extension and follow the steps to add a ACF field group and the GraphQL Field Name for the ACF Group and then run `gatsby develop` I'm getting an error on build:

[code]

The field group is showing up in GraphiQL explorer and am able to query it from outside of my WordPress installation such as:
![image](https://user-images.githubusercontent.com/12477388/939575

[2020-09-23 02:27] TylerBarnes commented on #166
This is fixed in `gatsby-source-wordpress-experimental@1.3.10`. Please let me know if you're still running into issues with it. I've added integration tests for this as well 👍

[2020-09-23 02:43] garryburch commented on #166
So far so good. Thank you for all your hard work.

[2020-09-23 09:34] nunof07 commented on #111
That sounds good @TylerBarnes. Would that work with static queries? i.e. being able to execute static queries conditionally when a field or type is registered?

[2020-09-23 10:05] 19h47 commented on #165
Maybe it's more a WordPress feature, like a hook when you save the post, no?

[2020-09-23 18:38] philip-akerfeldt opened #170 "Cannot terminate build on Gatsby Cloud"
Hi!

I have encountered an issue that I don't know how to resolve. I am trying to get my site up and running on Gatsby Cloud but one build seems to be going on forever. The build has been going on for almost 40 minutes and there has been no errors yet. I would really like to force the build to terminate so that I can try to find the issue. Right now i'm stuck in some kind of deadlock I guess.

<im

[2020-09-23 19:15] TylerBarnes commented on #111
@nunof07 you wouldn't want or be able to use it directly in templates. Instead you would use this kind of utility to choose wether or not to include code within `gatsby-node` or `gatsby-browser` and handle it 1 level higher.

[2020-09-23 19:45] TylerBarnes commented on #170
Hi @philip-akerfeldt , thanks for opening this issue.
The best way to receive support about Gatsby Cloud is via the Cloud dashboard. You can open a support request by clicking on Help -> Customer support in the top right of the screen.

<img width="445" alt="Screen Shot 2020-09-23 at 12 43 49 PM" src="https://user-images.githubusercontent.com/14190743/94061788-b152b580-fd9a-11ea-9d64-54ea1669526d.

[2020-09-23 19:45] #170 closed

[2020-09-23 19:47] TylerBarnes commented on #169
Hi @hashinteractive , it's hard to tell what could be happening from the description.
Can you share a reproduction repo with a live /graphql URL endpoint that I can use to reproduce?
If you can't share the repo, the URL + the output of `gatsby info` would work as well.

Thanks!

[2020-09-23 19:55] TylerBarnes commented on #165
+1 to @19h47 . Or you could write a Gatsby transformer plugin that accomplishes this as well.

Additionally there's a plugin option you could take advantage of here to achieve this. The following code is untested but gives you an idea of how to achieve this. `beforeChangeNode` runs on node data before a node is changed (created, updated, or deleted) so you can modify the node and return your modif